<div ng-controller="CoreMenuController" layout="row" layout-align="space-around center" style="width: 100%;height: 40px;">
	<div>
	</div>
	<div ng-click="goTo('accueil')" class="partie-menu-icone">
		<img src="modules/core/img/core-icones-home.png">
	</div>
	<div ng-click="goTo('historique')" class="partie-menu-icone">
		<img src="modules/core/img/core-icones-historique.png">
	</div>
	<div ng-click="goToQuestions()" ng-if="joueurId != undefined" class="partie-menu-icone">
		<img src="modules/core/img/core-icones-questions.png">
	</div>
	<div ng-click="goTo('regles')" class="partie-menu-icone">
		<img src="modules/core/img/core-icones-regles.png">
	</div>
	<div ng-click="goTo('cartes')" class="partie-menu-icone">
		<img src="modules/core/img/core-icones-cartes.png">
	</div>
	<div></div>
</div>