<div ng-controller="PartieMenuController" layout="row" layout-align="space-around center" style="width: 100%;height: 40px;">
	<div>
	</div>
	<div ng-click="goTo('accueil')" class="partie-menu-icone">
		<img src="modules/partie/img/partie-icones-home.png">
	</div>
	<div class="partie-menu-icone">
		<img src="modules/partie/img/partie-icones-historique.png">
	</div>
	<div class="partie-menu-icone">
		<img src="modules/partie/img/partie-icones-aide.png">
	</div>
	<div ng-click="goTo('cartes')" class="partie-menu-icone">
		<img src="modules/partie/img/partie-icones-cartes.png">
	</div>
	<div></div>
</div>