/*Jeu container divs*/

.jeu-container {
	width: 1200px;
	margin-top: 20px;
	border: solid 2px;
	border-radius: 6px;
}

.jeu-main-carte {
	outline: none;
	width: 160px;
	height: 250px;
	margin-left: -80px;
	margin-top: 0;
	transition: margin-left 0.2s;
	z-index: 1;
}

.jeu-main-carte-focused {
	outline: none;
	width: 166px;
	height: 256px;
	border: solid green 3px;
	margin-left: -80px;
	transition: margin-left 0.2s;
	margin-top: -2px;
	z-index: 2;
}
.jeu-main-carte-neighbor-focused {
	outline: none;
	width: 160px;
	height: 250px;
	margin-left: -10px;
	margin-top: 0;
	transition: margin-left 0.2s;
	z-index: 1;
}

.jeu-ouvertes-carte {
	outline: none;
	width: 160px;
	height: 250px;
}
.jeu-ouvertes-carte-focused {
	outline: none;
	width: 166px;
	height: 256px;
	border: solid green 3px;
}

.jeu-missions-carte,
.jeu-missions-carte-completed {
	width: 120px;
	height:180px;
}
.jeu-missions-carte {
	filter: grayscale(100%);
    opacity: 0.8;
}

.jeu-grandes-cartes,
.jeu-grandes-cartes-completed {
	width: 120px;
	height:180px;
}
.jeu-grandes-cartes {
	filter: grayscale(100%);
    opacity: 0.4;
}

.jeu-container-icone,
.jeu-container-icone-selected {
	height: 100px;
	margin-bottom: 10px;
}
.jeu-container-icone:hover {
	opacity: 1;
}

.jeu-container-icone{
    opacity: 0.5;
    filter: grayscale(30%);
}

.jeu-container-icone-selected {
    opacity: 1;
    filter: grayscale(0%);
}