public/dist/application.min.js.20170423213328.map
public/dist/application.js
public/dist/application.css
public/dist/application.min.js.map
public/dist/application.min.css
public.zip
public/index.html
public/dist/application.min.js
public/dist/application.min.20170423213328.js
public/dist/application.min.20170423213328.css
