<div ng-controller="ConfrontationsDefenseController" layout="row" flex layout-align="center center">
    <div ng-if="defense.active" layout="column" class="confrontations-container">

        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                {{joueurs[defense.source].nom}} t'attaque !
            </span>
        </div>

        <div layout="row" class="confrontations-defenses-body">

            <div class="confrontations-defenses-image">
                <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+defense.carte+'.png'}}">
            </div>

            <!-- 1. Description only -->

            <div layout="column" layout-align="center center" ng-if="defense.type == 'action' && (defense.action.types[0] == 'tour_passe' || defense.action.types[0] == 'cartes_perte_test_2')" class="confrontations-defenses-description">
                <div layout="column">
                    <span>
                        {{defense.description}}
                    </span>
                </div>
            </div>

            <!-- 2. Perte de cartes -->

            <div layout="column" layout-align="space-around" ng-if="defense.type == 'action' && defense.action.types[0] == 'cartes_perte'" class="confrontations-defenses-action-cartes-perte">
                <span class="confrontations-defenses-action-content-titre ">
                    {{defense.description}}
                </span>
                <div layout="row" layout-align="space-around" class="confrontations-defenses-action-cartes-perte-cartes">
                    <div ng-click="removeCarte($index)" ng-repeat="carte in defense.cartes_jeter" class="confrontations-defenses-action-cartes-perte-carte">
                        <img ng-if="carte.filled" ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte.id+'.png'}}">
                        <img ng-if="!carte.filled" ng-src="{{'modules/cartes/img/pioche/cartes_pioche_blank.png'}}">
                    </div>
                </div>
            </div>

             <!-- 3. Test -->

            <div layout="column" layout-align="center center" ng-if="defense.type == 'action' && defense.action.types[0] == 'cartes_perte_test'" class="confrontations-defenses-action-test">
                <span class="confrontations-defenses-action-content-titre ">
                    {{defense.description}}
                </span>
                <div layout="row">
                    <md-input-container style="width: 35px;">
                        <input ng-model="defense.test.hours" maxlength="2">
                    </md-input-container>
                    <span>
                    h
                    </span>
                    <md-input-container style="width: 35px;">
                        <input ng-model="defense.test.minutes" maxlength="2">
                    </md-input-container>
                </div>
            </div>

            <div layout="column" layout-align="center center" class="confrontations-defenses-buttons">
                <md-button ng-click="finishDefense()" ng-disabled="!defense.canProceed && (defense.type != 'action' || (defense.action.types[0] != 'cartes_perte_test' && defense.action.types[0] != 'cartes_perte_test_2'))" class="confrontations-defenses-button red-font md-primary md-raised">
                    OK !
                </md-button>
            </div>

        </div>
    </div>

</div>