<div ng-controller="ConfrontationsAttaqueDuelController" layout="row" flex layout-align="center center">
    <div layout="column" class="confrontations-container-duel">

        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                Lancer un duel {{duel.cible_text}}
            </span>
        </div>

        <div layout="row" class="confrontations-body">

            <div layout="column" layout-align="space-around center" class="confrontations-cible">
                <div ng-click="chooseJoueur(autresJoueurs[0])" ng-class="attaque.cible == autresJoueurs[0] ? 'confrontations-cible-image-focused' : 'confrontations-cible-image'">
                    <img ng-src="{{'modules/joueurs/img/joueurs_picture_'+autresJoueurs[0]+'.png'}}">
                </div>
                <div ng-click="chooseJoueur(autresJoueurs[1])" ng-class="attaque.cible == autresJoueurs[1] ? 'confrontations-cible-image-focused' : 'confrontations-cible-image'">
                    <img ng-src="{{'modules/joueurs/img/joueurs_picture_'+autresJoueurs[1]+'.png'}}">
                </div>
            </div>

            <div layout="column" layout-align="space-around center" class="confrontations-duel-results">
                <div layout="row" layout-align="space-around center">
                    <div class="confrontations-duel-result">
                        {{duel.info.results_source[0]}}
                    </div>
                    <div class="confrontations-duel-result">
                        {{duel.info.results_source[1]}}
                    </div>
                    <div class="confrontations-duel-result">
                        {{duel.info.results_source[2]}}
                    </div>
                    <div ng-if="duel.info.bonus_source > 0" class="confrontations-duel-result">
                    - {{duel.info.bonus_source}}
                    </div>
                    <div ng-if="duel.info.bonus_source == 0" class="confrontations-duel-result">
                    + 0
                    </div>
                    <div ng-if="duel.info.bonus_source < 0" class="confrontations-duel-result">
                    + {{duel.info.bonus_source}}
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <span>mod {{duel.info.modulo}}</span>
                    <span>{{duel.info.result_source}}</span>
                </div>
            </div>

            <div layout="column" layout-align="center center" class="confrontations-buttons">
                <md-button ng-click="lanceDuel()" ng-disabled="!duel.ready" class="confrontations-button red-font md-primary md-raised">
                    OK !
                </md-button>
            </div>

        </div>
    </div>

</div>