<div ng-controller="ConfrontationsAttaqueDuelController" layout="row" flex layout-align="center center">
    <div layout="column" class="confrontations-container-duel">

        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                 Duel lancé par {{joueurs[defense.source].nom}}
            </span>
        </div>

        <div layout="row" class="confrontations-body">

            <div layout="column" layout-align="space-around center" class="confrontations-cible">
                <div class="confrontations-cible-image-focused">
                    <img ng-src="{{'modules/joueurs/img/joueurs_picture_'+defense.source+'.png'}}">
                </div>
                <div class="confrontations-cible-image-focused">
                    <img ng-src="{{'modules/joueurs/img/joueurs_picture_'+defense.cible+'.png'}}">
                </div>
            </div>

            <div layout="column" layout-align="space-around center" class="confrontations-duel-results">
                <div layout="row" layout-align="space-around center">
                    <span class="confrontations-duel-result">
                        {{duel.info.results_source[0]}}
                    </span>
                    <span class="confrontations-duel-result">
                        {{duel.info.results_source[1]}}
                    </span>
                    <span class="confrontations-duel-result">
                        {{duel.info.results_source[2]}}
                    </span>
                    <span ng-if="duel.info.bonus_source > 0" class="confrontations-duel-result">
                    - {{duel.info.bonus_source}}
                    </span>
                    <span ng-if="duel.info.bonus_source == 0" class="confrontations-duel-result">
                    + 0
                    </span>
                    <span ng-if="duel.info.bonus_source < 0" class="confrontations-duel-result">
                    + {{duel.info.bonus_source}}
                    </span>
                    <span>
                        mod {{duel.info.modulo}}
                    </span>
                    <span>
                        {{duel.info.result_source}}
                    </span>
                </div>
                <div layout="row" layout-align="space-around center">
                    <span class="confrontations-duel-result">
                        {{duel.info.results_cible[0]}}
                    </span>
                    <span class="confrontations-duel-result">
                        {{duel.info.results_cible[1]}}
                    </span>
                    <span class="confrontations-duel-result">
                        {{duel.info.results_cible[2]}}
                    </span>
                    <span ng-if="duel.info.bonus_source > 0" class="confrontations-duel-result">
                    - {{duel.info.bonus_cible}}
                    </span>
                    <span ng-if="duel.info.bonus_source == 0" class="confrontations-duel-result">
                    + 0
                    </span>
                    <span ng-if="duel.info.bonus_source < 0" class="confrontations-duel-result">
                    + {{duel.info.bonus_cible}}
                    </span>
                    <span>
                        mod {{duel.info.modulo}}
                    </span>
                    <span>
                        {{duel.info.result_cible}}
                    </span>
                </div>
            </div>

            <div layout="column" layout-align="center center" class="confrontations-buttons">
                <md-button ng-click="lanceDuel()" ng-disabled="!duel.ready" class="confrontations-button red-font md-primary md-raised">
                    OK !
                </md-button>
            </div>

        </div>
    </div>

</div>