/*Attaques container divs*/

.attaques-defenses-container {
	height: 300px;
	margin-top: 10px;
	padding: 5px;
	background-color: #fff5f5;
	border: solid 2px #ed1c24;
	border-radius: 5px;
}

.attaques-defenses-container-titre {
	width: 100%;
	height: 30px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.attaques-defenses-container-body {
	width: 100%;
	height: 270px;
	padding: 20px 40px;
	font-size: 24px;
	text-align: center;
}

.attaques-defenses-container-image {
	width: 175px;
	padding-right: 30px;
}
.attaques-defenses-container-image img,
.attaques-defenses-container-buttons {
	width: 140px;
	height: 225px;
}

/*Content sections:*/
.attaques-defenses-action-content-titre {
	width: 100%;
	height: 30px;
	font-size: 18px;	
}

/*Passe tour*/
.attaques-defenses-action-tour-passe {
	width: 240px;
	height: 225px;
}

/*Perte carte*/
.attaques-defenses-action-cartes-perte {
	width: 350px;
	height: 225px;
}

.attaques-defenses-action-cartes-perte-cartes {
	width: 350px;	
}
.attaques-defenses-action-cartes-perte-carte {
	width: 80px;
	height: 125px;
	outline: none;
}
.attaques-defenses-action-cartes-perte-carte img {
	width: 80px;
	height: 125px;
}


/*Test perte cartes*/
.attaques-defenses-action-test{
	width: 270px;
	height: 225px;
}

.md-button.md-primary.attaques-defenses-container-button {
	background-color: #484848;
    color: white;
}
.md-button.md-primary.md-raised:not([disabled]).attaques-defenses-container-button:hover {
	background-color: #858585;
    color: white;
}