<div ng-controller="PartieGeneralController" layout="column" style="min-width: 1300px;">

	<!-- Top row: players and plateaux -->

	<div layout="row" style="width: 100%;height: 400;">

		<red-joueurs-recap-left style="width: 38%;"></red-joueurs-recap-left>

		<div layout="column" style="width: 24%;height: 100%;">

			<!-- Toolbar -->
			<red-core-toolbar></red-core-toolbar>

			<!-- Plateaux -->

			<div layout="column" style="width: 100%;height: 90%;">
				<div layout="row" layout-align="center center" style="height: 50%;width: 100%;">
					<img ng-click="goToPlateau(1)" src="modules/plateaux/img/plateau_labyrinthe_icone.png" style="height: 150px;width: 150px;outline: none;">
					<div ng-click="goToPlateau(2)" layout="row" flex layout-align="center center" style="margin: 20px;background-color:#ffc176;outline: none;height: 100px;">
						<span>
							Escalier
						</span>
					</div>
				</div>
				<div layout="row" flex layout-align="center center" style="width: 100%;height: 50%;outline: none;">
					<img ng-click="goToPlateau(0)" src="modules/plateaux/img/plateau_paysage.png" style="height: 100%;width: 300px;outline: none;">
				</div>
			</div>

		</div>

		<red-joueurs-recap-right style="width: 38%;"></red-joueurs-recap-right>

	</div>

	<!-- Plateaux -->

	<div ng-controller="PlateauxGeneralController" layout="row" layout-align="center center">
		<red-plateaux-paysage ng-show="plateau == '0'"></red-plateaux-paysage>
		<red-plateaux-labyrinthe ng-show="plateau == '1'"></red-plateaux-labyrinthe>
		<red-plateaux-escalier ng-show="plateau == '2'"></red-plateaux-escalier>
	</div>


	<!-- Tour de jeu -->

	<red-partie-tour-de-jeu></red-partie-tour-de-jeu>

	<!-- Actions de case -->

	<red-plateaux-action-case layout="column" flex layout-align="center center"></red-plateaux-action-case>

	<!-- Pioches -->

<!-- 	<div layout="row" style="height: 300px;padding-left: 100px;padding-right: 100px;width: 1300px;">

		<red-des-container layout="column" style="width: 300px;height: 300px;"></red-des-container>

	</div> -->

	<!-- Attaques -->

<!-- 	<red-confrontations-attaque ng-if="attaque.active"></red-confrontations-attaque>
 -->
	<!-- Defenses -->

<!-- 	<red-confrontations-defense ng-show="defense.active"></red-confrontations-defense>
 -->
	<!-- Duel -->

<!-- 	<red-confrontations-attaque-duel ng-if="partie.dispo.duel"></red-confrontations-attaque-duel>
 -->
	<red-confrontations ng-show="confrontation.active" layout="column" flex layout-align="center center"></red-confrontations>

	<!-- Jeux -->

	<red-jeu-container style="margin-bottom: 20px;"></red-jeu-container>

</div>