<div ng-controller="PartieTourDeJeuController" ng-show="partie.tour_joueur == joueur.id" layout="column" layout-align="center center" >

    <div layout="row" layout-align="space-around center" class="red-font" style="width: 1000px;margin-top:10px;font-size: 20px;">
        <red-des-container layout="column" style="width: 350px;"></red-des-container>
        <div layout="row" layout-align="center center" style="width: 300px;">
            <div layout="column" layout-align="center center" style="width: 180px;">
                <span>
                    {{tourActionNames[partie.tour_action]}}
                </span>
                <span ng-if="partie.tour_joueur != joueur.id">
                    C'est le tour de {{joueurs[partie.tour_joueur].nom}}
                </span>
                <span ng-if="partie.tour_joueur == joueur.id">
                    C'est ton tour {{attaques.length}}
                </span>
            </div>
            <div layout="column" layout-align="center center" ng-show="!partie.dispo.tourDeJeu.actionEnCours && actionsDisponibles.nextAction && attaques.defenses.length <= 0" ng-click="nextAction()" ng-if="partie.tour_joueur == joueurId" style="outline: none;">
                <img src="modules/jeu/img/jeu_icones_next.png" style="height: 20px;">
            </div>
        </div>
        <div ng-controller="CartesPiocheController" layout="row" layout-align="center center" style="width: 350px;height: 100px;">
            <div ng-click="!piochesDisponibles || partie.dispo.pioches.pioche <= 0 || cartePioche()" layout="row" layout-align="center center" ng-class="!piochesDisponibles || partie.dispo.pioches.pioche <= 0 ? 'cartes-pioches-pioche-disabled' : 'cartes-pioches-pioche'">
                <span>
                    Pioche
                </span>
            </div>

            <div ng-click="!piochesDisponibles || partie.dispo.pioches.missions <= 0 || carteMission()" layout="row" layout-align="center center" ng-class="!piochesDisponibles || partie.dispo.pioches.missions <= 0 ? 'cartes-pioches-missions-disabled' : 'cartes-pioches-missions'">
                <span>
                    Missions
                </span>
            </div>
        </div>
    </div>

    <!-- Icones de tour de jeu -->

    <div ng-show="!partie.dispo.tourDeJeu.actionEnCours" layout="column" layout-align="space-around center">
        <div ng-repeat="actions in actionsRows" layout="row" layout-align="space-around center">
            <div ng-repeat="action in actions">
                <div ng-if="partie.dispo.tourDeJeu[action][0] + partie.dispo.tourDeJeu[action][1] > 0">
                    <div ng-show="partie.dispo.tourDeJeu[action][0] > 0" style="position: absolute;margin-left: 10px;margin-top: 8px;z-index: 1;">
                        <img src="modules/partie/img/partie-tour-notification-green-icone.png" style="width: 37px;position: absolute;">
                        <span class="red-font" style="color: white;position: absolute;margin-left: 12px;font-size: 20px;margin-top: 5px;">
                            {{partie.dispo.tourDeJeu[action][0]}}
                        </span>
                    </div>
                    <img ng-click="startAction(action,joueurs[joueurId].pions[0].case)" ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone">
                    <div ng-show="partie.dispo.tourDeJeu[action][1] > 0" style="position: absolute;margin-top: -152px;margin-left: 114px;z-index: 1;">
                        <img src="modules/partie/img/partie-tour-notification-red-icone.png" style="width: 37px;position: absolute;">
                        <span class="red-font" style="color: white;position: absolute;margin-left: 12px;font-size: 20px;margin-top: 5px;">
                            {{partie.dispo.tourDeJeu[action][1]}}
                        </span>
                    </div>
                </div>
                <div ng-show="partie.dispo.tourDeJeu[action][0] + partie.dispo.tourDeJeu[action][1] <= 0">
                    <img ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone-disabled">
                </div>
            </div>
        </div>
    </div>

 </div>