<div ng-controller="PartieTourDeJeuController" ng-if="partie.tour_joueur == joueur.id" layout="column" layout-align="center center" >

    <div layout="row" layout-align="space-around center" class="red-font" style="width: 1000px;margin-top:10px;font-size: 20px;">
        <red-des-container layout="column" style="width: 350px;"></red-des-container>
        <div layout="row" layout-align="center center" style="width: 300px;">
            <div layout="column" layout-align="center center">
                <span>
                    {{tourActionNames[partie.tour_action]}}
                </span>
                <span ng-if="partie.tour_joueur != joueur.id">
                    C'est le tour de {{joueurs[partie.tour_joueur].nom}}
                </span>
                <span ng-if="partie.tour_joueur == joueur.id">
                    C'est ton tour {{attaques.length}}
                </span>
            </div>
            <div layout="column" layout-align="center center" ng-click="!actionsDisponibles.nextAction || attaques.defenses.length > 0 || nextAction()" ng-if="partie.tour_joueur == joueurId" style="outline: none;">
                <img src="modules/jeu/img/jeu_icones_next.png" style="height: 20px;">
            </div>
        </div>
        <div ng-controller="CartesPiocheController" layout="row" layout-align="center center" style="width: 350px;height: 100px;">
            <div ng-click="!piochesDisponibles || partie.dispo.pioches.pioche <= 0 || cartePioche()" layout="row" layout-align="center center" ng-class="!piochesDisponibles || partie.dispo.pioches.pioche <= 0 ? 'cartes-pioches-pioche-disabled' : 'cartes-pioches-pioche'">
                <span>
                    Pioche
                </span>
            </div>

            <div ng-click="!piochesDisponibles || partie.dispo.pioches.missions <= 0 || carteMission()" layout="row" layout-align="center center" ng-class="!piochesDisponibles || partie.dispo.pioches.missions <= 0 ? 'cartes-pioches-missions-disabled' : 'cartes-pioches-missions'">
                <span>
                    Missions
                </span>
            </div>
        </div>
    </div>

    <div ng-show="!tourDeJeu.actionEnCours" layout="column" layout-align="space-around center">
        <div layout="row" layout-align="space-around center">
            <div ng-repeat="action in actions_1">
                <div ng-if="tourDeJeu[action][0] + tourDeJeu[action][1] > 0">
                    <img ng-click="startAction(action,joueurs[joueurId].pions[0].case)" ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone">
                </div>
                <div ng-if="tourDeJeu[action][0] + tourDeJeu[action][1] <= 0">
                    <img ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone-disabled">
                </div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center">
            <div ng-repeat="action in actions_2">
                <div ng-if="tourDeJeu[action][0] + tourDeJeu[action][1] > 0">
                    <img ng-click="startAction(action,joueurs[joueurId].pions[0].case)" ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone">
                </div>
                <div ng-if="tourDeJeu[action][0] + tourDeJeu[action][1] <= 0">
                    <img ng-src="{{'modules/partie/img/partie-tour-de-jeu-'+action+'-icone.png'}}" class="plateaux-action-case-icone-disabled">
                </div>
            </div>
        </div>
<!--             <div ng-if="tourDeJeu.recompense[0] + tourDeJeu.recompense[1] > 0">
                <img ng-click="startActionCase('action',joueurs[joueurId].pions[0].case)" title="Tu as des récompenses" src="modules/partie/img/partie-tour-de-jeu-recompense-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.recompense[0] + tourDeJeu.recompense[1] <= 0">
                <img title="Aucune récompense à récupérer" src="modules/partie/img/partie-tour-de-jeu-recompense-icone.png" class="plateaux-action-case-icone-disabled">
            </div>
            <div ng-if="tourDeJeu.action[0] + tourDeJeu.action[1] > 0">
                <img ng-click="startActionCase('action',joueurs[joueurId].pions[0].case)" title="Une action est possible" src="modules/partie/img/partie-tour-de-jeu-action-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.action[0] + tourDeJeu.action[1] <= 0">
                <img title="Aucune action possible" src="modules/partie/img/partie-tour-de-jeu-action-icone.png" class="plateaux-action-case-icone-disabled">
            </div>
            <div ng-if="tourDeJeu.pouvoir[0] + tourDeJeu.pouvoir[1] > 0">
                <img ng-click="startActionCase('action',joueurs[joueurId].pions[0].case)" title="Tu peux utiliser un pouvoir" src="modules/partie/img/partie-tour-de-jeu-pouvoir-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.pouvoir[0] + tourDeJeu.pouvoir[1] <= 0">
                <img title="Aucun pouvoir à utiliser" src="modules/partie/img/partie-tour-de-jeu-pouvoir-icone.png" class="plateaux-action-case-icone-disabled">
            </div> -->
        </div>
<!--         <div layout="row" layout-align="space-around center">
            <div ng-if="tourDeJeu.question[0] + tourDeJeu.question[1] > 0">
                <img ng-click="startActionCase('question',joueurs[joueurId].pions[0].case)" title="C'est une case question" src="modules/plateaux/img/plateau_action_question.png" class="plateaux-action-case-icone.png">
            </div>
            <div ng-if="tourDeJeu.question[0] + tourDeJeu.question[1] <= 0">
                <img title="Pas de question disponible" src="modules/plateaux/img/plateau_action_question.png" class="plateaux-action-case-icone-disabled">
            </div>
            <div ng-if="tourDeJeu.achat[0] + tourDeJeu.achat[1] > 0">
                <img ng-click="startActionCase('achat',joueurs[joueurId].pions[0].case)" title="Consulter les achats disponibles" src="modules/partie/img/partie-tour-de-jeu-achat-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.achat[0] + tourDeJeu.achat[1] <= 0">
                <img title="Aucun achat possible" src="modules/partie/img/partie-tour-de-jeu-achat-icone.png" class="plateaux-action-case-icone-disabled">
            </div>
            <div ng-if="tourDeJeu.duel[0] + tourDeJeu.duel[1] > 0">
                <img ng-click="startActionCase('achat',joueurs[joueurId].pions[0].case)" title="Lancer un duel" src="modules/partie/img/partie-tour-de-jeu-duel-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.duel[0] + tourDeJeu.duel[1] <= 0">
                <img title="Pas de duel disponible" src="modules/partie/img/partie-tour-de-jeu-duel-icone.png" class="plateaux-action-case-icone-disabled">
            </div>
            <div ng-if="tourDeJeu.troisFamilles[0] + tourDeJeu.troisFamilles[1] > 0">
                <img ng-click="startActionCase('achat',joueurs[joueurId].pions[0].case)" title="Lancer un appel des trois familles" src="modules/partie/img/partie-tour-de-jeu-trois-familles-icone.png" class="plateaux-action-case-icone">
            </div>
            <div ng-if="tourDeJeu.troisFamilles[0] + tourDeJeu.troisFamilles[1] <= 0">
                <img title="Appel des trois familles non disponible" src="modules/partie/img/partie-tour-de-jeu-trois-familles-icone.png" class="plateaux-action-case-icone-disabled">
            </div>
        </div> -->

 </div>