<div ng-controller="QuestionsController" layout="column" class="red-font" style="min-width: 1024px;">
	<!-- Toolbar -->
	<red-core-toolbar></red-core-toolbar>

	<div layout="row" flex layout-align="center center">
		<span style="font-size: 24px;">
			Questions
		</span>
	</div>


	<div ng-repeat="question in questions" layout="row" flex style="border-bottom: 1px solid gray;padding: 4px;">
		<div style="width: 30px" layout="row" layout-align="center start">
			<img ng-click="expand($index,true)" ng-if="!question.expanded" src="modules/core/img/core_icones_expand.png" style="width: 12px;outline: none;margin-top: 5px;">
			<img ng-click="expand($index,false)" ng-if="question.expanded" src="modules/core/img/core_icones_collapse.png" style="width: 12px;outline: none;opacity: 0.5;margin-top: 5px;">
		</div>

		<div layout="column" flex>
			<div layout="row" flex>
				<span style="font-weight: bold;">
					{{question.question}}
				</span>
				<div layout="row" flex></div>
				<div ng-if="question.reponsePartie >= 0">
					<span ng-if="question.succes !== 'echec'" style="color: green;">Répondue correctement par {{question.repondant}}</span>
					<span ng-if="question.succes === 'echec'" style="color: red;">Répondue incorrectement par {{question.repondant}}</span>
				</div>
			</div>
			<div ng-show="question.expanded" layout="column">
				<div layout="row">
					<div layout="column" style="width: 90px;">
						<span>
							Réponse
						</span>
						<span>
							Options
						</span>
					</div>
					<div layout="column">
						<span>{{question.reponse}}</span>
						<span ng-repeat="option in question.options track by $index">
							{{option}}
						</span>
					</div>
				</div>
				<div layout="row">
					<span layout="column" style="width: 90px;">
						Indice
					</span>
					<span>
						{{question.indice}}
					</span>
				</div>
			</div>
		</div>
	</div>

	<form ng-submit="createQuestion()" name="NouvelleQuestion" layout="column" style="width: 720px;margin-left: auto;margin-right: auto;border: 2px solid #00004a;margin-top: 20px;border-radius: 10px;padding: 10px;background-color: #fbfbff;">

		<div style="margin-left: auto;margin-right: auto;font-size: 25px;">
			Créer une nouvelle question
		</div>

		<md-input-container class="cartes-input" style="width: 700px;">
			<input ng-model="newQuestion.question" required aria-label="Question">
			<label>Question</label>
		</md-input-container>

		<md-input-container class="cartes-input" style="width: 400px;">
			<input ng-model="newQuestion.reponse" required aria-label="Reponse">
			<label>Réponse</label>
		</md-input-container>

		<div ng-repeat="option in newQuestion.options track by $index">
			<md-input-container class="cartes-input" style="width: 400px;">
				<input ng-model="newQuestion.options[$index]" required aria-label="Option">
				<label>Option {{$index + 1}}</label>
			</md-input-container>
		</div>
		<a ng-click="ajouterOption()" ng-if="newQuestion.options.length < 6" style="outline: none;">
			Ajouter d'autres options
		</a>
		<a ng-click="retirerOption()" ng-if="newQuestion.options.length > 1" style="outline: none;">
			Retirer la dernière option
		</a>

		<md-input-container class="cartes-input" style="width: 400px;">
			<input ng-model="newQuestion.indice" required aria-label="Indice">
			<label>Indice</label>
		</md-input-container>

        <md-button type="submit" class="confrontations-button red-font md-primary md-raised" style="width: 100px;">
            OK !
        </md-button>		

	</div>

</div>