<div ng-controller="PlateauxPaysageController" layout="row" flex style="width: 1560px;height: 980px;">
	<img src="modules/plateaux/img/plateau_paysage.png" style="position: absolute;z-index: 1;width: 1560px;height: 980px;">

	<div style="position: absolute;z-index: 2;width: 1600px;height: 850px;">
		<!-- Rangees -->
		<div ng-repeat="ligne in plateauPaysage" layout="row">
			<!-- Colonnes -->
			<div ng-repeat="case in ligne.colonnes" ng-click="selectCase(case.numero)" ng-mouseover="hoverCase(case.numero)" layout="column" layout-align="space-between center" class="plateaux-paysage-case">
				<!-- Case Info -->
				<div layout="column" layout-align="space-between center" ng-class="{'plateaux-paysage-case-info-clicked' : selectedCase.numero == case.numero && case.numero !== -1, 'plateaux-paysage-case-info-hovered': hoveredCase === case.numero && case.numero !== -1, 'plateaux-paysage-case-info': hoveredCase !== case.numero && selectedCase.numero !== case.numero && case.numero !== -1}" >
					<div ng-show="case.numero !== -1" layout="column" layout-align="space-between center" style="position: absolute;	width: 65px;height: 70px;">
						<div layout="row" layout-align="space-between center" style="width: 100%;">
							<div>
								<span ng-if="plateauPaysage[$parent.$index - 1].colonnes[$index].numero !== case.numero && (hoveredCase === case.numero || selectedCase.numero === case.numero)">
									{{case.numero}}
								</span>
								<span ng-if="plateauPaysage[$parent.$index - 1].colonnes[$index].numero !== case.numero && hoveredCase !== case.numero && selectedCase.numero !== case.numero" class="red-font" style="font-size: 9px;position: absolute;margin-left: 2px;color: #7d7d7d;">
									{{case.numero}}
								</span>
							</div>
							<span ng-if="case.question">
								?
							</span>
						</div>
						<div layout="row" layout-align="space-between center" style="width: 100%;">
							<div>
								<span ng-if="case.achat">
									G
								</span>
							</div>
							<div>
								<span ng-if="case.action && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero">
									!
								</span>
							</div>
						</div>
					</div>
					<!-- Pions -->
					<div ng-if="!(selectedCase.numero === case.numero && partie.dispo.plateaux.paysage > 0) && case.joueursNumber > 0 && case.numero !== -1" layout="row" layout-align="center center" class="plateaux-paysage-pions-container">
						<div ng-repeat="joueur in case.joueurs" style="position: absolute;" ng-style="{
							'margin-left':'' + pionDeplacementImage[joueurs[joueur].pions[0].position].marginLeft + 'px',
							'margin-top':''+ pionDeplacementImage[joueurs[joueur].pions[0].position].marginTop +'px'
						}">
							<img ng-src="{{'modules/plateaux/img/plateau_pion_'+joueur+'.png'}}" class="plateaux-paysage-pion">
						</div>
					</div>
					<div ng-if="case.deplacement >= 0 && deplacementEnCours && case.numero !== -1" layout="row" layout-align="center center" class="plateaux-paysage-pions-container">
						<img ng-src="{{'modules/plateaux/img/plateau_pion_'+joueurId+'.png'}}" class="plateaux-paysage-pion" style="position: absolute;opacity: 0.6;" ng-style="{
							'margin-left':'' + pionDeplacementImage[case.deplacement].marginLeft + 'px',
							'margin-top':''+ pionDeplacementImage[case.deplacement].marginTop +'px'
						}">
					</div>
					<div ng-if="selectedCase.numero === case.numero && deplacementPossible > 0 && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero && case.numero !== -1" layout="row" layout-align="center center" class="plateaux-paysage-pions-container">
						<img ng-repeat="index in [0,1,2,3,4,5,6,7,8,9,10,11]" ng-click="deplacementPion($parent.$parent.$parent.$index,$parent.$index,case.numero,index)" ng-src="{{'modules/plateaux/img/plateau_pion_move.png'}}" class="plateaux-paysage-pion-move" style="width: 8px;height: 8px;position: absolute;" ng-style="{
						'margin-left':'' + pionDeplacementImage[index].marginLeft + 'px',
						'margin-top':''+ pionDeplacementImage[index].marginTop +'px'
					}">
					</div>
				</div>
				<!-- Tooltips -->
				<!-- 1. Zone info -->
				<div ng-if="selectedCase.numero === case.numero && plateauPaysage[$parent.$index - 1].colonnes[$index].numero !== case.numero && case.numero !== -1">
					<img ng-src="{{'modules/plateaux/img/plateaux_zones_'+case.zoneKey[0]+'.png'}}" style="width: 47px;margin-left: -79px;margin-top: -49px;z-index: 1;">
					<img ng-src="{{'modules/plateaux/img/plateaux_zones_'+case.zoneKey[1]+'.png'}}" ng-if="case.zoneKey[1] != undefined" style="width: 47px;margin-left: -72px;margin-top: -145px;z-index: 1;">
					<img ng-src="{{'modules/plateaux/img/plateaux_zones_'+case.zoneKey[2]+'.png'}}" ng-if="case.zoneKey[2] != undefined" style="width: 47px;margin-left: -56px;margin-top: -249px;z-index: 1;">
					<img ng-src="{{'modules/plateaux/img/plateaux_zones_'+case.zoneKey[3]+'.png'}}" ng-if="case.zoneKey[3] != undefined" style="width: 47px;margin-left: -47px;margin-top: -353px;z-index: 1;">
				</div>

				<!-- 2. Action info -->
				<div ng-if="case.action && selectedCase.numero === case.numero && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero"" class="plateaux-paysage-case-tooltip-bottomright">
					Description de l'action specifique a cette case.
				</div>

				<!-- 3. Achat info -->
				<div ng-if="case.achat && selectedCase.numero === case.numero && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero"" class="plateaux-paysage-case-tooltip-bottomleft">
					Description des achats disponibles.
				</div>
			</div>
		</div>

		<div style="position: absolute;margin-top: -634px;margin-left: 703px;">
				<img src="modules/plateaux/img/plateau_paysage_rose_des_vents.png" ng-click="startRoseDesVents()" style="width: 216px;outline: none;">
				<img ng-src="{{'modules/plateaux/img/plateau_paysage_quadrant_directionnel_'+roseDesVents.position+'.png'}}" ng-if="roseDesVents.position !== undefined" style="position: absolute;height: 88px;margin-left: -72px;margin-top: 109px;" ng-style="{
						'height':'' + roseDesVents.height + 'px',
						'margin-left':'' +roseDesVents.marginLeft + 'px',
						'margin-top':''+ roseDesVents.marginTop +'px'
					}">
				<img src="modules/plateaux/img/plateau_paysage_rose_aiguille.png" style="width: 118px;margin-left: -127px;margin-top: 2px;height: 26px;" ng-style="{
						'transform': 'rotate(' + roseAiguille.angle + 'deg)',
						'margin-left':'' + roseAiguille.x + 'px',
						'margin-top':''+ roseAiguille.y +'px'
					}">
			</div>
		</div>

</div>	