<div ng-controller="PlateauxLabyrintheController" layout="row" layout-align="space-around center" style="width: 1560px;height: 650px;">
	<div style="position: relative;width: 500px;" class="red-font">
		<div ng-if="plateauLabyrintheTourDeJeu.de > 0">
			<span>{{plateauLabyrintheTourDeJeu.de}} actions restantes</span>
			<span ng-if="plateauLabyrintheTourDeJeu.type === 'couronnes'">(Couronnes)</span>
			<span ng-if="plateauLabyrintheTourDeJeu.type === 'deplacement'">(Déplacement)</span>
		</div>
	</div>
	<div style="position: relative;width: 300px;margin-left: 20px;">
		<div style="position: absolute;transition: all linear 0.5s;margin-left: -60px;margin-top: -60px;">
			<img src="modules/plateaux/img/labyrinthe/plateaux_labyrinthe_case_0_0.png" class="plateaux-labyrinthe-couronne-1-case">
			<div ng-show="plateauLabyrinthe[0][0].joueursNumber > 0">
				<div ng-repeat="style in plateauLabyrinthe[0][0].pionsStyles"
				style="position: absolute;"
				ng-style="{
					'left':''+style.left+'px',
					'top':''+style.top+'px'
				}">
					<img ng-src="{{'modules/plateaux/img/plateau_pion_'+plateauLabyrinthe[0][0].joueurs[$index]+'.png'}}" class="plateaux-paysage-pion">
				</div>
			</div>
		</div>
		<div ng-repeat="i in [1,2,3,4]">
			<div ng-repeat="case in plateauLabyrinthe[i]"
			style="position: absolute;transition: all linear 0.5s;"
			ng-style="{
				'transform': 'rotate(' + case.angle + 'deg)',
				'margin-left':'' + case.x + 'px',
				'margin-top':''+ case.y +'px',
				'opacity':''+ case.opacity +''
			}">
<!-- 				<img ng-src="{{'modules/plateaux/img/labyrinthe/plateaux_labyrinthe_case_'+i+'_'+($index)+'.png'}}"
				ng-class="{hoveredCouronne === i ? 'plateaux-labyrinthe-couronne-'+{{i}}+'-case-hovered' : 'plateaux-labyrinthe-couronne-'+{{i}}+'-case'"> -->
				<img ng-click="plateauLabyrintheTourDeJeu.casesDisponibles.indexOf(case.numero) < 0 || movePion(case.numero)" ng-src="{{'modules/plateaux/img/labyrinthe/plateaux_labyrinthe_case_'+i+'_'+($index)+'.png'}}"
				ng-class="{
					'plateaux-labyrinthe-couronne-{{i}}-case-hovered' : hoveredCouronne === i,
					'plateaux-labyrinthe-couronne-{{i}}-case-disponible' : hoveredCouronne !== i && plateauLabyrintheTourDeJeu.casesDisponibles.indexOf(case.numero) >= 0,
					'plateaux-labyrinthe-couronne-{{i}}-case' :  hoveredCouronne !== i && plateauLabyrintheTourDeJeu.casesDisponibles.indexOf(case.numero) < 0
				}">
				<div ng-show="case.joueursNumber > 0">
					<div ng-repeat="style in case.pionsStyles"
					style="position: absolute;"
					ng-style="{
						'left':''+style.left+'px',
						'top':''+style.top+'px'
					}">
						<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[$index]+'.png'}}" class="plateaux-paysage-pion">
					</div>
				</div>
				<img ng-show="plateauLabyrintheTourDeJeu.monteeDisponible.indexOf(case.numero) >= 0 && plateauLabyrintheTourDeJeu.type != 'couronnes'" src="modules/plateaux/img/plateau_labyrinthe_couronne_up.png" ng-click="monteeCouronne()" style="position: absolute;margin-left: 47px;height: 36px;margin-top: -44px;outline: none;">
			</div>
		</div>

	</div>
	<div style="position: relative;width: 200px;">
		<div ng-repeat="i in [4,3,2,1]">
			<div ng-repeat="position in ['up','down']">
				<img ng-show="plateauLabyrintheTourDeJeu.de > 0 &&
					(plateauLabyrintheTourDeJeu.type == undefined ||
					(plateauLabyrintheTourDeJeu.type === 'couronnes' &&
					plateauLabyrintheTourDeJeu.couronne === i))"
				ng-mouseover="hoverCouronne(i)" ng-mouseleave="hoverCouronne(0)"
				ng-src="{{'modules/plateaux/img/labyrinthe/plateaux_labyrinthe_fleche_'+i+'_'+position+'.png'}}"
				ng-click="updatePositionCouronne(i,position)"
				class="plateaux-labyrinthe-fleches"
				ng-style="{
					'margin-left': flechesPositions[position][i].left+'px',
					'height': flechesPositions[position][i].height+'px',
					'margin-top': flechesPositions[position][i].top+'px'
				}">
<!-- 				<img ng-if="plateauLabyrintheTourDeJeu.de == undefined || plateauLabyrintheTourDeJeu.de <= 0"
				ng-src="{{'modules/plateaux/img/labyrinthe/plateaux_labyrinthe_fleche_'+i+'_'+position+'.png'}}"
				class="plateaux-labyrinthe-fleches-disabled"
				ng-style="{
					'margin-left': flechesPositions[position][i].left+'px',
					'height': flechesPositions[position][i].height+'px',
					'margin-top': flechesPositions[position][i].top+'px'
				}"> -->
			</div>
		</div>
	</div>
</div>