<div ng-controller="PlateauxPaysageController" layout="row" flex style="width: 1560px;height: 980px;">
	<img src="modules/plateaux/img/plateau_paysage.jpeg" style="position: absolute;z-index: 1;width: 1560px;height: 980px;">

	<div style="position: absolute;z-index: 2;width: 1600px;height: 850px;">
		<!-- Rangees -->
		<div ng-repeat="ligne in plateauPaysage" layout="row">
			<!-- Colonnes -->
			<div ng-repeat="case in ligne.colonnes" ng-click="selectCase(case.numero)" ng-mouseover="hoverCase(case.numero)" layout="column" layout-align="space-between center" class="plateaux-paysage-case">
				<!-- Case Info -->
				<div layout="column" layout-align="space-between center" ng-class="{'plateaux-paysage-case-info-clicked' : selectedCase.numero == case.numero, 'plateaux-paysage-case-info-hovered': hoveredCase === case.numero, 'plateaux-paysage-case-info': hoveredCase !== case.numero && selectedCase.numero !== case.numero}" >
					<div layout="column" layout-align="space-between center" style="position: absolute;	width: 65px;height: 70px;">
						<div layout="row" layout-align="space-between center" style="width: 100%;">
							<div>
								<span ng-if="plateauPaysage[$parent.$index - 1].colonnes[$index].numero !== case.numero">
									{{case.numero}}
								</span>
							</div>
							<span ng-if="case.question">
								?
							</span>
						</div>
						<div layout="row" layout-align="space-between center" style="width: 100%;">
							<div>
								<span ng-if="case.achat">
									G
								</span>
							</div>
							<div>
								<span ng-if="case.action && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero">
									!
								</span>
							</duv>
						</div>
					</div>
					<!-- Pions -->
					<div ng-if="!(selectedCase.numero === case.numero && partie.dispo.plateaux.paysage > 0) && case.joueursNumber > 0" layout="row" layout-align="center center" class="plateaux-paysage-pions-container">
						<div ng-if="case.joueursNumber == 1">
							<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[0]+'.png'}}" class="plateaux-paysage-pion">
						</div>
						<div ng-if="case.joueursNumber == 2" layout="row">
							<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[0]+'.png'}}" class="plateaux-paysage-pion">
							<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[1]+'.png'}}" class="plateaux-paysage-pion">
						</div>
						<div ng-if="case.joueursNumber == 3" layout="column">
							<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[0]+'.png'}}" class="plateaux-paysage-pion-small">
							<div layout="row">
								<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[1]+'.png'}}" class="plateaux-paysage-pion-small">
								<img ng-src="{{'modules/plateaux/img/plateau_pion_'+case.joueurs[2]+'.png'}}" class="plateaux-paysage-pion-small">
							</div>
						</div>
					</div>
					<div ng-if="selectedCase.numero === case.numero && partie.dispo.plateaux.paysage > 0 && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero" layout="row" layout-align="center center" class="plateaux-paysage-pions-container">
						<img ng-click="movePion(case.numero)" ng-src="{{'modules/plateaux/img/plateau_pion_move.png'}}" class="plateaux-paysage-pion-move">
					</div>
				</div>
				<!-- Tooltips -->
				<!-- 1. Zone info -->
				<div ng-if="selectedCase.numero === case.numero && plateauPaysage[$parent.$index - 1].colonnes[$index].numero !== case.numero" class="plateaux-paysage-case-tooltip-topleft">
					Zones:
					<span ng-repeat="zone in case.zones">
						<br>{{zone}}
					</span>
				</div>

				<!-- 2. Action info -->
				<div ng-if="case.action && selectedCase.numero === case.numero && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero"" class="plateaux-paysage-case-tooltip-bottomright">
					Description de l'action specifique a cette case.
				</div>

				<!-- 3. Achat info -->
				<div ng-if="case.achat && selectedCase.numero === case.numero && plateauPaysage[$parent.$index + 1].colonnes[$index].numero !== case.numero"" class="plateaux-paysage-case-tooltip-bottomleft">
					Description des achats disponibles.
				</div>
			</div>
		</div>
	</div>

</div>	