<div ng-controller="PlateauxActionCaseController" ng-show="actionCase.phase >= 0">

    <div ng-if="(actionCase.phase == 1 || actionCase.phase == 1.1) && actionCase.categorie === 'achat'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span ng-show="actionCase.phase == 1">
                Bienvenue en case {{actionCase.numero}} ! Es-tu intéressé par nos articles ?
            </span>
            <span ng-show="actionCase.phase == 1.1">
                Avec ceci ?
            </span>
        </div>

        <!-- Body -->
        <div layout="row" layout-align="space-around center" class="cartouche-body">

            <div ng-repeat="carte in actionsCase.achat">
                <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" ng-click="achatObjet(carte)" style="width: 140px;height: 225px;margin: 5px 15px;box-sizing: content-box;border: ">
            </div>

            <md-button ng-click="cancelActionCase()" class="confrontations-button red-font md-primary md-raised" style="height: 20px;">
                Non !
            </md-button>

        </div>

    </div>

    <div ng-if="actionCase.phase == 2 && actionCase.categorie === 'achat'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                {{actionCase.carte.nom}}
            </span>
        </div>

        <!-- Body -->
        <div layout="row" layout-align="space-around center" class="cartouche-body">

            <div>
                <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+actionCase.carte.code+'.png'}}" style="width: 140px;height: 225px;margin: 5px 15px;box-sizing: content-box;">
            </div>

            <div ng-if="actionCase.carte.info.paiement === 'glutis' && actionCase.paiementPossible" style="width: 250px;">
                Souhaites-tu acheter cet objet pour {{actionCase.carte.info.prix}}₲ ?
            </div>
            <div ng-if="actionCase.carte.info.paiement === 'glutis' && !actionCase.paiementPossible" style="width: 250px;">
                Tu n'as pas assez de glutis pour acheter cet objet : il coûte {{actionCase.carte.info.prix}}₲
            </div>
            <div ng-if="actionCase.carte.info.paiement === 'echange' && actionCase.paiementPossible" style="width: 250px;">
                Souhaites-tu acheter cet objet contre une carte {{actionCase.carteEchangeNom}} ?
            </div>
            <div ng-if="actionCase.carte.info.paiement === 'echange' && !actionCase.paiementPossible" layout="column" style="width: 250px;font-size: 20px;">
                <span>
                    Nous échangerions volontiers notre carte {{actionCase.carte.nom}} contre cette carte :
                </span>
            </div>
            
            <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+actionCase.carte.info.echange+'.png'}}" ng-if="actionCase.carte.info.paiement === 'echange' && !actionCase.paiementPossible" style="width: 140px;height: 225px;margin: 5px 15px;box-sizing: content-box;">
            
            <div ng-if="actionCase.paiementPossible" layout="column">
                <md-button ng-click="acheterObjet()" class="confrontations-button red-font md-primary md-raised" style="height: 20px;">
                    Payer
                </md-button>
                <md-button ng-click="cancelActionCase()" class="confrontations-button red-font md-primary md-raised" style="height: 20px;">
                    Non merci
                </md-button>
            </div>

            <div ng-if="!actionCase.paiementPossible" layout="column">
                <md-button ng-click="acheterObjet()" class="confrontations-button red-font md-primary md-raised" style="height: 20px;">
                    Je reviendrai plus tard
                </md-button>
            </div>

        </div>

    </div>

    <div ng-if="actionCase.phase == 3 && actionCase.categorie === 'achat'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                {{actionCase.carte.nom}}
            </span>
        </div>

        <!-- Body -->
        <div layout="row" layout-align="space-around center" class="cartouche-body">

            <div>
<!--                 <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+actionCase.carte.code+'.png'}}" style="width: 140px;height: 225px;margin: 5px 15px;box-sizing: content-box;"> -->
            </div>

            <div style="width: 250px;">
                Merci pour ton achat !
            </div>

        </div>

    </div>

    <div ng-if="actionCase.phase > 0 && actionCase.categorie === 'action'" layout="column" class="partie-cartouche-container">

    	<!-- Titre -->
     	<div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                 Case {{actionCase.numero}}
            </span>
        </div>

        <!-- Body -->
        <div layout="row" class="cartouche-body">

            <!-- Donner passeport -->
    <!--         <div ng-if="actionCase.numero === 'hub' && actionCase.phase === 1" layout="row" flex layout-align="center center" style="outline: none;width: 140px;height: 180px;padding: 5px;">
                <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte+'.png'}}" ng-class="carte.completed ? 'jeu-missions-carte-completed' : 'jeu-missions-carte'">
            </div>  -->

            <!-- Description -->
            <div ng-if="actionCaseDisplay.description" layout="column" layout-align="center center" class="confrontations-description">
                <div layout="column">
                    <span>
                        {{actionCase.description}}
                    </span>
                </div>
            </div>

            <!-- Image -->
            <div ng-if="actionCaseDisplay.image" layout="column" layout-align="center center" class="confrontations-description" style="width: 390px;">
                <div layout="column" layout-align="center center">
                    <span>
                        {{actionCase.description}}
                    </span>
                    <img ng-src="{{actionCase.image}}" style="width: 200px;">
                </div>
            </div>

            <!-- Perte de cartes -->
            <div ng-if="actionCaseDisplay.perteCartes" layout="column" layout-align="center center" class="confrontations-description" style="width: 390px;">
                <red-cartes-jeter bouton-name="'Défausser'" quantite="2" description="'Tu perds des cartes'"></red-cartes-jeter>
            </div>

            <!-- Valise non-materialisee -->
            <div layout="column" layout-align="space-around start" ng-if="actionCase.valiseNonMaterialisee !== undefined">
                <span style="width: 500px;">
                    {{actionCase.description}}
                </span>
                <div layout="row" ng-repeat="objet in actionCase.valiseNonMaterialisee" style="padding: 5px;text-align: start;">
                    <span ng-if="objet === valiseNonMaterialisee[$index]" style="color: green;width: 250px;font-size: 18px;">
                        {{$index + 1}}. {{objet}}
                    </span>
                    <div ng-if="objet !== valiseNonMaterialisee[$index]" layout="row">
                        <span style="color: red;width: 250px;font-size: 18px;">
                            {{$index + 1}}. {{objet}}
                        </span>
    <!--                     <span style="color: green;font-size: 16px;">
                            {{valiseNonMaterialisee[$index]}}
                        </span> -->
                    </div>
                </div>
                <md-input-container ng-if="valiseNonMaterialiseeIndex < valiseNonMaterialisee.length && (valiseNonMaterialiseeIndex === 0 || actionCase.valiseNonMaterialisee[valiseNonMaterialiseeIndex-1] === valiseNonMaterialisee[valiseNonMaterialiseeIndex-1])" style="width: 400px;font-size: 16px;text-align: start;">
                    <md-select ng-model="actionCase.valiseNonMaterialisee[valiseNonMaterialiseeIndex]" ng-change="ajouteValise(valiseNonMaterialiseeIndex)" required aria-label="Objet">
                        <md-option ng-repeat="objet in objets | orderBy:'nom'" ng-if="actionCase.valiseNonMaterialisee.indexOf(objet.nom) < 0">{{objet.nom}}</md-option>
                    </md-select>
                    <label>Objet</label>
                </md-input-container>
                <div ng-if="actionCase.vnmCorrect">
                    <span style="width: 500px;font-size: 18px;">
                        Tu peux ajouter un objet de ton choix dans la valise :
                    </span>
                    <md-input-container style="width: 400px;font-size: 16px;text-align: start;">
                        <md-select ng-model="actionCase.nouvelObjet" required ng-change="nouvelObjet()" aria-label="Objet">
                            <md-option ng-repeat="objet in objets | orderBy:'nom'" ng-if="actionCase.valiseNonMaterialisee.indexOf(objet.nom) < 0">{{objet.nom}}</md-option>
                        </md-select>
                        <label>Nouvel objet</label>
                    </md-input-container>
                </div>
                <div ng-if="actionCase.vnmCorrect === false" style="width: 100%;">
                    <span>
                        Erreur ! Il fallait prendre : {{valiseNonMaterialisee[valiseNonMaterialiseeIndex-1]}}
                    </span>
                </div>
            </div>

            <!-- Boutons -->
            <div layout="column" layout-align="center center" class="confrontations-buttons" ng-hide="buttonsHidden">
                <md-button ng-click="startActionCase('action',actionCase.numero)" ng-disabled="okButtonDisabled" class="confrontations-button red-font md-primary md-raised">
                    {{bouton1}}
                </md-button>
                <md-button ng-if="bouton2 != ''" ng-click="cancelActionCase()" class="confrontations-button red-font md-primary md-raised">
                    {{bouton2}}
                </md-button>
            </div>

        </div>

     </div>
 </div>