<div ng-controller="JeuMainController" ng-if="jeu.main.length > 0" layout="row" flex>

	<div layout="column" layout-align="center center" style="width: 150px;margin-right: 100px;">
		<div ng-if="focusIndex >= 0">
			<md-button ng-if="partie.dispo.cartes.utiliser && jeu.main[focusIndex].utilisation.indexOf('action') > -1 && !attaque.active" ng-click="utiliserCarte(focusIndex)" class="md-primary">
				Utiliser
			</md-button>
			<md-button ng-if="partie.dispo.cartes.ouvertures && jeu.main[focusIndex].utilisation.indexOf('ouverture') > -1"  ng-click="ouvrirCarte(focusIndex)" class="md-primary">
				Ouvrir
			</md-button>
			<md-button ng-if="partie.dispo.cartes.main_jeter && !jeu.main[focusIndex].injetable" ng-click="jeterCarte(focusIndex)" class="md-primary">
				Jeter
			</md-button>
			<md-button ng-if="partie.dispo.cartes.main_jeter_attaque && !jeu.main[focusIndex].injetable && defense.cartes_jeter_filled < defense.cartes_jeter_total" ng-click="jeterAttaqueCarte(focusIndex)" class="md-primary">
				Jeter
			</md-button>
			<md-button ng-if="partie.dispo.cartes.main_donner_attaque" ng-click="jeterAttaqueCarte(focusIndex)" class="md-primary">
				Donner
			</md-button>
		</div>
	</div>

<!--     <div style="width: 200px;margin-right: 100px;">
        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+jeu.main[focusIndex].id+'.png'}}" style="width: 150px;height: 250px;border: solid green 5px;margin: 0 25px 0 0;">
    </div> -->

    <div ng-repeat="carte in jeu.main" ng-click="focusCarte($index)" layout-align="center center" ng-class="{'jeu-main-carte-focused': focusIndex == $index, 'jeu-main-carte-neighbor-focused' : focusIndex == $index - 1,'jeu-main-carte': focusIndex != $index - 1 && focusIndex != $index}">
        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte.id+'.png'}}" style="width: 160px;height: 250px;">
    </div>

</div>

<div ng-if="jeu.main.length == 0" layout="row" layout-align="center center">
	Plus de cartes :(
</div>