<div ng-controller="JeuContainerController" layout="column" flex layout-align="center center" class="red-font">

    <div layout="column" class="jeu-container">
        <div layout="row" style="margin-bottom: 10px;">
            <div>
                Boite aux lettres
            </div>
            <div flex></div>
            <div style="text-align: center;">
                <span style="font-size: 16px;">
                    {{joueur.nom}}
                </span>
                <br>
                <span>
                    {{joueur.notes_titre}}
                </span>
                <img ng-click="ecrireNotes()" src="modules/jeu/img/jeu_icones_crayon.png" style="height: 20px;margin-bottom: 4px;outline: none;">
            </div>
            <div flex></div>
            <div layout="row" style="font-weight: bold;margin: 5px;">
                <img src="modules/jeu/img/jeu_icones_glutis.png" style="height: 20px;margin-right: 2px;">
                <span style="margin-top: 2px;">{{joueurs[joueurId].glutis}} ₲</span>
            </div>
        </div>
        <div ng-if="view === 'notes'" layout="column" flex style="height: 520px;">
            <md-input-container>
                <input ng-model="joueur.notes_titre" required maxlength="100" aria-label="Notes - Titre" style="width: 800px;">
            </md-input-container>
            <div layout="row" flex layout-align="space-around center">
            <textarea ng-model="joueur.notes.contenu_1" required aria-label="Notes - Contenu" style="width: 49%;height: 450px;outline: none;">
            </textarea>
            <textarea ng-model="joueur.notes.contenu_2" required aria-label="Notes - Contenu" style="width: 49%;height: 450px;outline: none;">
            </textarea>
            </div>
        </div>
        <div ng-if="view === 'cartes'" layout="column" flex style="height: 560px;">
            <red-jeu-main layout="row" flex style="height: 260px;"></red-jeu-main>
            <div layout="row" flex style="height: 260px;">
                <div layout="column" flex="20">
                    <div ng-repeat="tab in tabs" ng-click="changeTab($index)" layout="row" flex layout-align="center center" class="red-font" style="font-size: 18px;outline: none;">
                        <div ng-if="$index === focusedTab" ng-style="{{tabs[$index].style}}" layout="row" flex layout-align="center center" style="height: 100%;">
                            {{tab.nom}}
                        </div>
                        <div ng-if="$index !== focusedTab" layout="row" flex layout-align="center center" style="background-color: #fbfbff;height: 100%;">
                            {{tab.nom}}
                        </div>
                    </div>
                </div>
                <red-jeu-ouvertes ng-if="focusedTab === 0" layout="row" flex ng-style="{{tabs[0].style}}"></red-jeu-ouvertes>
                <red-jeu-hors-pioche ng-if="focusedTab === 1" layout="row" flex ng-style="{{tabs[1].style}}"></red-jeu-hors-pioche>
                <red-jeu-humeurs ng-if="focusedTab === 2" layout="row" flex ng-style="{{tabs[2].style}}"></red-jeu-humeurs>
                <red-jeu-mission ng-show="focusedTab === 3" layout="row" flex ng-style="{{tabs[3].style}}"></red-jeu-mission>
                <red-jeu-grandes-cartes ng-if="focusedTab === 4" layout="row" flex ng-style="{{tabs[4].style}}"></red-jeu-grandes-cartes>
            </div>
        </div>
    </div>

</div>