<div ng-controller="JeuOuvertesController" ng-if="jeu.ouvertes.length > 0" layout="row" flex layout-align="center center">

	<div layout="column" layout-align="center center" style="width: 150px;margin-right: 100px;">
		<div ng-if="focusIndex >= 0">
			<md-button ng-if="partie.dispo.cartes.ouvertes_jeter && !jeu.main[focusIndex].injetable" ng-click="jeterCarte(focusIndex)" class="md-primary">
				Jeter
			</md-button>
		</div>
	</div>

    <div ng-repeat="carte in jeu.ouvertes" ng-click="focusCarte($index)" layout-align="center center" style="outline: none;width: 160px;height: 260px;padding: 5px;" ng-class="{'jeu-ouvertes-carte-focused': focusIndex == $index,'jeu-ouvertes-carte': focusIndex != $index}">
        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte.id+'.png'}}" style="width: 160px;height: 250px;">
    </div>

</div>

<div ng-if="jeu.ouvertes.length == 0" layout="row" layout-align="center center">
	Pas de cartes ouvertes !
</div>