<div ng-controller="JeuMainController" layout="row" flex>

	<div ng-if="jeu.main.length > 0" layout="row" flex>

		<div layout="column" layout-align="center center" style="width: 20%;margin-right: 100px;">
			<div ng-if="focusIndex >= 0">
				<md-button ng-if="partie.dispo.cartes.utiliser && jeu.main[focusIndex].action && !confrontation.active" ng-click="utiliserCarte(focusIndex)" class="md-primary">
					Utiliser
				</md-button>
				<md-button ng-if="partie.dispo.cartes.ouvertures && jeu.main[focusIndex].ouverture > -1"  ng-click="ouvrirCarte(focusIndex)" class="md-primary">
					Ouvrir
				</md-button>
				<md-button ng-if="partie.dispo.cartes.main_jeter && jeu.main[focusIndex].categorie !== 'pouilleux'" ng-click="jeterCarte(focusIndex)" class="md-primary">
					Jeter
				</md-button>
				<md-button ng-if="partie.dispo.cartes.main_jeter_attaque && jeu.main[focusIndex].categorie !== 'pouilleux' && confrontation.cartes.filled < confrontation.cartes.total" ng-click="jeterAttaqueCarte(focusIndex)" class="md-primary">
					Jeter
				</md-button>
				<md-button ng-if="jeterDispo && !jeu.main[focusIndex].injetable" ng-click="jeterCarteInterface(focusIndex)" class="md-primary">
					{{jeterBoutonTitre}}
				</md-button>
				<md-button ng-if="partie.dispo.cartes.main_donner_attaque" ng-click="jeterAttaqueCarte(focusIndex)" class="md-primary">
					Donner
				</md-button>
			</div>
		</div>

	<!--     <div style="width: 200px;margin-right: 100px;">
	        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+jeu.main[focusIndex].id+'.png'}}" style="width: 150px;height: 250px;border: solid green 5px;margin: 0 25px 0 0;">
	    </div> -->

	    <div ng-repeat="carte in jeu.main" layout-align="center center" ng-class="{'jeu-main-carte-focused': focusIndex == $index, 'jeu-main-carte-neighbor-focused' : focusIndex == $index - 1,'jeu-main-carte': focusIndex != $index - 1 && focusIndex != $index}">
	    	<red-carte code="{{carte.code}}" pile="pioche"></red-carte>
	    </div>

	</div>

	<div ng-if="jeu.main.length == 0" layout="row" layout-align="center center">
		Plus de cartes :(
	</div>

</div>