<div ng-controller="JeuHorsPiocheController" ng-if="jeu.horsPioche.length > 0" layout="row" flex layout-align="space-around center">

    <div ng-repeat="carte in jeu.horsPioche" ng-click="focusCarte($index)" layout-align="center center" style="outline: none;width: 160px;height: 260px;padding: 5px;" ng-class="{'jeu-ouvertes-carte-focused': focusIndex == $index,'jeu-ouvertes-carte': focusIndex != $index}">
        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" style="width: 160px;height: 250px;">
    </div>

</div>

<div ng-if="jeu.horsPioche.length === 0" layout="row" flex layout-align="center center">
	Pas de cartes hors pioche !
</div>