<div ng-controller="JoueursRecapController" layout="column" class="joueurs-recap red-font" ng-style="{'background-color': joueurs[joueurJeuIndex].backgroundColor,'border-color':joueurs[joueurJeuIndex].borderColor}">
	<div layout="row" style="width: 100%;height: 40px;">
		<div layout="column">
			<div layout="row">
				<img ng-src="{{'modules/cartes/img/humeurs/cartes_humeurs_'+joueurs[joueurJeuIndex].humeurs[humeurIndex].code+'.png'}}" ng-show="humeurMontree" style="position:absolute; width: 160px;height: 250px;margin-left: 108px;margin-top: 24px;z-index: 2">
				<span style="font-weight: bold;font-size: 18px;">
					Jeu de {{joueurs[joueurJeuIndex].nom}} -
					<a ng-mouseover="montrerHumeur()" ng-mouseout="cacherHumeur()" class="joueurs-recap-humeur">{{joueurs[joueurJeuIndex].humeurs[humeurIndex].nom}}</a>
					<img src="modules/core/img/core_icones_arrow_right.png" ng-show="joueurs[joueurJeuIndex].humeurs.length > 1" ng-click="updateHumeurIndex()" style="width: 18px;outline: none;">
				</span>
				&nbsp;&nbsp;
				<img ng-repeat="escalier in createArrayFromNumber(joueurs[joueurJeuIndex].escalier) track by $index" src="modules/joueurs/img/joueurs-escalier-icone.png" style="height: 20px;width: 20px;margin: 1px;">
				&nbsp;&nbsp;
				<img ng-if="joueurs[joueurJeuIndex].belette >= 1" src="modules/joueurs/img/joueurs-belette-icone.png" style="height: 20px;width: 20px;">
			</div>
		</div>
		<div layout="row" flex></div>
		<div>
			<img src="modules/joueurs/img/joueurs-courrier-icone.png" style="width: 40px;">				
		</div>
	</div>
	<!-- Merge with jeux-ouvertes.view.html? -->
	<div ng-controller="JeuOuvertesController" ng-if="joueurs[joueurJeuIndex].ouvertes.length > 0" layout="row" style="width: 100%;">

	    <div ng-repeat="carte in joueurs[joueurJeuIndex].ouvertes" layout-align="center center" style="outline: none;width: 60px;height: 95px;margin: 5px;">
	        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte.code+'.png'}}" style="width: 60px;height: 95px;">
	    </div>

	</div>

	<div layout="column" flex></div>
	
	<div layout="row" layout-align="space-around center" style="width: 100%;">
	    <div ng-repeat="carte in joueurs[joueurJeuIndex].grandesCartes" layout-align="center center" style="outline: none;width: 60px;height: 95px;">
	        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" style="width: 60px;height: 95px;" ng-class="carte.completed ? 'jeu-grandes-cartes-completed' : 'jeu-grandes-cartes'">
	    </div>
	</div>

</div>