<div ng-controller="JoueursRecapController" layout="column" style="height: 100%;" ng-style="{{joueurRightStyle}}">
	<div layout="row" style="width: 100%;height: 40px;">
		<div layout="column" flex>
			<div layout="row">
				<span>
					Jeu de {{joueurs[joueurRight].nom}} 
				</span>
				&nbsp;&nbsp;
				<img ng-if="joueurs[joueurRight].belette >= 1" src="modules/joueurs/img/joueurs-belette-icone.png" style="height: 20px;width: 20px;">
			</div>
			<span>
				Grandes cartes ouvertes: {{joueurs[joueurRight].id}}
			</span>
		</div>
		<div style="width: 80px;">
			<span>
				Message
			</span>
		</div>
	</div>
	<!-- Merge with jeux-ouvertes.view.html? -->
	<div ng-controller="JeuOuvertesController" ng-if="joueurs[joueurRight].ouvertes.length > 0" layout="row" style="width: 100%;">

	    <div ng-repeat="carte in joueurs[joueurRight].ouvertes" layout-align="center center" style="outline: none;width: 80px;height: 130px;padding: 5px;">
	        <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte.code+'.png'}}" style="width: 75px;height: 125px;">
	    </div>

	</div>
	<div ng-if="joueurs[joueurRight].ouvertes.length == 0" layout="row" layout-align="center center" style="width: 100%;">
		Pas de cartes ouvertes !
	</div>
</div>