.des-container-line {
	width: 300px;
	height: 100px;
}

.des-container-box,
.des-container-box-disabled {
	width: 80px;
	height: 80px;
	margin: 10px;
	text-align: center;
	outline: none;
}

.des-container-box-disabled {
	cursor: default;
	opacity: 0.5;
}