<div ng-controller="CartesCreationMissionController">
	<div ng-repeat="index in carte.info.etapes" layout="column">
		<span class="red-font" style="padding: 15px;">Etape {{$index + 1}}</span>
		<div layout="column">
			<div layout="row">
				<md-input-container class="cartes-input" style="width: 300px;">
					<md-select ng-model="carte.info.etapes[$index].categorie" required aria-label="Categorie">
						<md-option ng-repeat="(categorie_nom,categorie) in missions | orderBy:'categorie_nom'">{{categorie_nom}}</md-option>
					</md-select>
					<label>Catégorie</label>
				</md-input-container>
				<md-input-container ng-if="missions[carte.info.etapes[$index].categorie]['Case'] !== undefined" class="cartes-input" style="width: 300px;">
					<md-select ng-model="carte.info.etapes[$index].case" required aria-label="Condition">
						<md-option ng-repeat="case in missions[carte.info.etapes[$index].categorie]['Case'] | orderBy: case">{{case}}</md-option>
					</md-select>
					<label>Case</label>
				</md-input-container>
			</div>
			<div layout="column">
				<div ng-if="missions[carte.info.etapes[$parent.$index].categorie]['Cartes'] !== undefined" ng-repeat="index in carte.info.etapes[$index].cartes" layout="row">
					<md-input-container class="cartes-input" style="width: 300px;">
						<md-select ng-model="carte.info.etapes[$parent.$parent.$index].cartes[$index]" required aria-label="Condition">
							<md-option ng-repeat="carte in cartesNoms | orderBy: carte">{{carte}}</md-option>
						</md-select>
						<label>Carte</label>
					</md-input-container>
					<div ng-if="$index === (carte.info.etapes[$parent.$parent.$index].cartes.length - 1) && carte.info.etapes[$parent.$parent.$index].cartes.length > 1" style="padding-left: 10px;padding-top: 45px;">
						<a ng-click="retirerCarte($parent.$parent.$parent.$index)" style="outline: none;">Retirer une carte</a>
					</div>
					<div ng-if="$index === (carte.info.etapes[$parent.$parent.$index].cartes.length - 1)" style="padding-left: 10px;padding-top: 45px;">
						<a ng-click="ajouterCarte($parent.$parent.$parent.$index)" style="outline: none;">Ajouter une carte</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="carte.info.etapes.length > 1" style="padding-left: 10px;">
		<a ng-click="retirerEtape()" style="outline: none;">Retirer une étape</a>
	</div>
	<div style="padding-left: 10px;">
		<a ng-click="ajouterEtape()" style="outline: none;">Ajouter une étape</a>
	</div>
	<red-cartes-creation-consequences carte="carte"></red-cartes-creation-consequences>
</div>