<div ng-controller="CartesController" layout="column" class="cartes-container">

	<!-- Toolbar -->
	<red-core-toolbar></red-core-toolbar>

	<div layout="row" flex>
		<div ng-repeat="tab in tabs" ng-click="changeTab($index)" layout="row" flex layout-align="center center" ng-class="focusedTab == $index ? 'cartes-menu-item-focused' : 'cartes-menu-item'" class="red-font">
			{{tab.nom}}
		</div>
	</div>

	<table ng-if="view == 'table_cartes'" layout="column" class="cartes-table cartes-table-blue red-font">
		<thead layout="row" flex>
			<tr layout="row" flex>
				<td width="30%">
					Nom
				</td>
				<td width="20%">
					Pile
				</td>
				<td width="20%">
					Categorie
				</td>
				<td colspan="2" width="20%">
					Utilisations
				</td>
				<td width="10%">
					
				</td>
			</tr>
		</thead>
		<tbody flex>
			<tr ng-repeat="(key,carte) in cartesTable" layout="row" flex>
				<td width="30%">
					{{carte.nom}}
				</td>
				<td width="20%">
					{{carte.pile}}
				</td>
				<td width="20%">
					{{carte.categorie}}
				</td>
				<td width="10%">
					{{carte.utilisation[0]}}
				</td>
				<td width="10%">
					{{carte.utilisation[1]}}
				</td>
				<td width="10%">
					<a ng-click="modifierCarte(key)">Modifier</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table ng-if="view == 'table_humeurs'" layout="column" class="cartes-table cartes-table-green red-font">
		<thead layout="row" flex>
			<tr layout="row" flex>
				<td width="30%">
					Humeur
				</td>
				<td width="20%">
					Nom du Sims
				</td>
				<td width="20%">
					Maison
				</td>
				<td colspan="2" width="20%">
					Ami / Ennemi
				</td>
				<td width="10%">
					
				</td>
			</tr>
		</thead>
		<tbody flex>
			<tr ng-repeat="(key,carte) in cartesTable" layout="row" flex>
				<td width="30%">
					{{carte.nom}}
				</td>
				<td width="20%">
					{{carte.info.nomSims}}
				</td>
				<td width="20%">
					{{carte.info.maison}}
				</td>
				<td width="10%">
					{{carte.info.ami}}
				</td>
				<td width="10%">
					{{carte.info.ennemi}}
				</td>
				<td width="10%">
					<a ng-click="modifierCarte(key)">Modifier</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table ng-if="view == 'table_objets'" layout="column" class="cartes-table cartes-table-orange red-font">
		<thead layout="row" flex>
			<tr layout="row" flex>
				<td width="30%">
					Nom
				</td>
				<td width="50%">
					Description
				</td>
				<td width="20%">
					Animaux
				</td>
			</tr>
		</thead>
		<tbody flex>
			<tr ng-repeat="(key,carte) in cartesTable" layout="row" flex>
				<td width="30%">
					{{carte.nom}}
				</td>
				<td width="50%">
					{{carte.description}}
				</td>
				<td width="20%">
					<span ng-if="carte.types.animal">
						Animal
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<form ng-submit="NouvelleCarte.$valid && submitForm()" name="NouvelleCarte" ng-if="view == 'nouvelle_carte' || view == 'modifier_carte'" layout="column" flex>
		<div class="cartes-nouvelle-titre red-font">
			Nouvelle carte
		</div>
		<div layout="row">
			<md-input-container class="cartes-input" style="width: 200px;">
				<input ng-model="carte.nom" required aria-label="Nom">
				<label>Nom</label>
				<div ng-messages>
					<div style="color: #bdbdbd;">
						ex: Est-il en forêt ?
					</div>
				</div>
			</md-input-container>
			<md-input-container class="cartes-input" style="width: 200px;">
				<input ng-model="carte.code" required ng-readonly="view == 'modifier_carte'" aria-label="Code">
				<label>Code</label>
				<div ng-messages>
					<div style="color: #bdbdbd;">
						ex: est_il_en_foret
					</div>
				</div>
			</md-input-container>
			<md-input-container class="cartes-input" style="width: 100px;">
				<input ng-model="carte.nombreDeCartes" required aria-label="nombre de cartes">
				<label>Quantité</label>
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container class="cartes-input" style="width: 200px;">
				<md-select ng-model="carte.pile" ng-change="updateCategorie()" required aria-label="Pile">
					<md-option ng-repeat="(pile_nom,pile) in piles | orderBy:'pile'">{{pile_nom}}</md-option>
				</md-select>
				<label>Pile</label>
			</md-input-container>
			<md-input-container ng-if="carte.pile != undefined" class="cartes-input" style="width: 200px;">
				<md-select ng-model="carte.categorie" required ng-change="updateCategorie()" aria-label="Categorie">
					<md-option ng-repeat="(categorie_nom,categorie) in piles[carte.pile].categories | orderBy:'categorie'">{{categorie_nom}}</md-option>
				</md-select>
				<label>Categorie</label>
			</md-input-container>
		</div>


		<md-input-container ng-if="carte.categorie === 'Trois familles'" class="cartes-input" style="width: 200px;">
			<md-select ng-model="carte.info.famille" required aria-label="Famille">
				<md-option ng-repeat="famille in familles">{{famille}}</md-option>
			</md-select>
			<label>Famille</label>
		</md-input-container>
		<div layout="column" ng-if="carte.pile == 'Pioche' && carte.categorie == 'Action'">
			<div class="cartes-nouvelle-titre red-font">
				Action
			</div>
			<div layout="row">
				<div layout="row">
					<md-input-container class="cartes-input" style="width: 200px;">
						<md-select ng-model="carte.info.action.type" required aria-label="Action">
							<md-option ng-repeat="action in piles['Pioche'].categories['Action'].info.actions.types | orderBy:'action'">{{action}}</md-option>
						</md-select>
						<label>Action</label>
					</md-input-container>
					<div layout="column">
						<div layout="row">
							<div ng-repeat="type in piles['Pioche'].categories['Action'].types | orderBy:'type'" layout="row">
								<md-input-container ng-if="$index < 5" class="cartes-input">
									<input type="checkbox" ng-model="carte.types[type]" aria-label="checkbox">
									<label>{{type}}</label>
								</md-input-container>
							</div>
						</div>
						<div layout="row">
							<div ng-repeat="type in piles['Pioche'].categories['Action'].types | orderBy:'type'" layout="row">
								<md-input-container ng-if="$index >= 5" class="cartes-input">
									<input type="checkbox" ng-model="carte.types[type]" aria-label="checkbox">
									<label>{{type}}</label>
								</md-input-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div layout="column" ng-if="carte.pile == 'Missions'">
			<div class="cartes-nouvelle-titre red-font">
				Mission
			</div>
			<red-cartes-creation-mission carte="carte"></red-cartes-creation-mission>
		</div>

		<div layout="column" ng-if="carte.pile == 'Humeurs'">
			<div class="cartes-nouvelle-titre red-font">
				Humeur
			</div>
			<red-cartes-creation-humeur carte="carte"></red-cartes-creation-humeur>
		</div>

		<div layout="column" ng-if="carte.pile === 'Hors Pioche' && carte.categorie === 'Objet'">
			<red-cartes-creation-hors-pioche></red-cartes-creation-hors-pioche>
		</div>

		<div ng-if="carte.pile == 'Pioche' && carte.categorie == 'Objet'" layout="column" flex>
			<div ng-repeat="objet in objets" layout="column" width="50%">
				<div class="cartes-nouvelle-titre red-font">
					Objet {{$index + 1}}
				</div>
				<div layout="row">
					<md-input-container class="cartes-input" style="width: 200px;">
						<input ng-model="objet.nom" required aria-label="Nom">
						<label>Nom</label>
						<div ng-messages>
							<div style="color: #bdbdbd;">
								ex: Lampe torche
							</div>
						</div>
					</md-input-container>
					<md-input-container class="cartes-input" style="width: 200px;">
						<input ng-model="objet.code" required ng-readonly="view == 'modifier_carte'" aria-label="Code">
						<label>Code</label>
						<div ng-messages>
							<div style="color: #bdbdbd;">
								ex: lampe_torche
							</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container class="cartes-input" style="width: 400px;">
						<label>Description</label>
						<textarea ng-model="objet.description" required aria-label="Description">
						</textarea>
					</md-input-container>
				</div>
				<div layout="row">
					<div layout="column">
						<div layout="row">
							<div ng-repeat="type in piles['Pioche'].categories['Objet'].types | orderBy:'type'" layout="row">
								<md-input-container ng-if="$index < 5" class="cartes-input">
									<input type="checkbox" ng-model="objet.types[type]" aria-label="checkbox">
									<label>{{type}}</label>
								</md-input-container>
							</div>
						</div>
						<div layout="row">
							<div ng-repeat="type in piles['Pioche'].categories['Objet'].types | orderBy:'type'" layout="row">
								<md-input-container ng-if="$index >= 5" class="cartes-input">
									<input type="checkbox" ng-model="objet.types[type]" aria-label="checkbox">
									<label>{{type}}</label>
								</md-input-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- UTILISATION -->

		<div ng-repeat="utilisation in carte.utilisation track by $index" layout="column">
<!-- 			<red-cartes-creation-utilisations utilisation={{utilisation}} index="{{$index}}" ng-if="carte.categorie !== 'objet'"></red-cartes-creation-utilisations> -->
			<div ng-controller="CartesCreationUtilisationsController" class="cartes-utilisation">
				<div layout="row">
					<md-input-container class="cartes-input">
						<input type="checkbox" ng-model="utilisation.action" ng-change="changeActionUtilisation($index)" aria-label="checkbox">
						<label>Action</label>
					</md-input-container>
					<md-input-container class="cartes-input">
						<input type="checkbox" ng-model="utilisation.ouverture" aria-label="checkbox">
						<label>Ouverture</label>
					</md-input-container>
					<div layout="row" flex></div>
					<img ng-if="carte.utilisation.length > minUtilisations" ng-click="removeUtilisation($index)" src="modules/core/img/core_icones_remove.png" class="cartes-remove-property">
				</div>
				
				<div ng-if="carte.utilisation.length > 1" layout="row">
					<md-input-container ng-if="carte.utilisation.length > minUtilisations" class="cartes-input" style="width: 200px;">
						<input ng-model="utilisation.nom" required aria-label="Nom">
						<label>Nom</label>
					</md-input-container>
					<md-input-container ng-if="carte.pile === 'Pioche' && carte.categorie === 'Objet'" class="cartes-input" style="width: 200px;">
							<md-select ng-model="utilisation.objet" required aria-label="Circonstance">
								<md-option>Objet 1</md-option>
								<md-option>Objet 2</md-option>
							</md-select>
							<label>Objet</label>
						</md-input-container>
				</div>

				<!-- CIRCONSTANCES -->

				<div ng-repeat="circonstance in utilisation.circonstances" class="cartes-circonstance" layout="row">
					<md-input-container class="cartes-input" style="width: 300px;">
						<md-select ng-model="circonstance.categorie" required aria-label="Circonstance">
							<md-option ng-repeat="(categorie_nom,categorie) in circonstances | orderBy:'categorie_nom'">{{categorie_nom}}</md-option>
						</md-select>
						<label>Circonstance - Catégorie</label>
					</md-input-container>
					<md-input-container ng-if="circonstance.categorie != undefined && circonstances[circonstance.categorie].length != 0" class="cartes-input" style="width: 300px;">
						<md-select ng-model="circonstance.type" required aria-label="Circonstance">
							<md-option ng-repeat="(type_nom,type) in circonstances[circonstance.categorie] | orderBy:'type_nom'">{{type_nom}}</md-option>
						</md-select>
						<label>Circonstance - Type</label>
					</md-input-container>
					<md-input-container ng-if="circonstance.type != undefined && circonstances[circonstance.categorie][circonstance.type].length > 0" class="cartes-input" style="width: 200px;">
						<md-select ng-model="circonstance.valeur" required aria-label="Type">
							<md-option ng-repeat="valeur in circonstances[circonstance.categorie][circonstance.type] | orderBy:'valeur'">{{valeur}}</md-option>
						</md-select>
						<label>Circonstance - Valeur</label>
					</md-input-container>
					<md-input-container class="cartes-input" style="width: 200px;">
						<md-select ng-model="circonstance.joueur" required aria-label="Type">
							<md-option ng-repeat="joueur in joueurs">{{joueur}}</md-option>
						</md-select>
						<label>Circonstance - Joueur</label>
					</md-input-container>
					<div layout="row" flex></div>
					<img ng-if="utilisation.circonstances.length > 1" ng-click="removeCirconstance($parent.$parent.$index,$parent.$index)" src="modules/core/img/core_icones_remove.png" class="cartes-remove-property">
				</div>
				<div ng-if="utilisation.circonstances.length >= 1 && utilisation.circonstances.length < 3" ng-click="addCirconstance($parent.$index)" class="cartes-circonstance" style="padding-left: 10px;">
					Ajouter une circonstance
				</div>

				<!-- CONSEQUENCES -->

				<div ng-repeat="consequence in utilisation.consequences" layout="row" class="cartes-consequence">
					<md-input-container class="cartes-input" style="width: 300px;">
						<md-select ng-model="consequence.categorie" required aria-label="Type">
							<md-option ng-repeat="(categorie_nom,categorie) in consequences">{{categorie_nom}}</md-option>
						</md-select>
						<label>Conséquence - Catégorie</label>
					</md-input-container>
					<md-input-container ng-if="consequence.categorie != undefined" class="cartes-input" style="width: 300px;">
						<md-select ng-model="consequence.type" required aria-label="Type">
							<md-option ng-repeat="(type_nom,type) in consequences[consequence.categorie]">{{type_nom}}</md-option>
						</md-select>
						<label>Conséquence - Type</label>
					</md-input-container>
					<md-input-container ng-if="consequence.type != undefined && consequences[consequence.categorie][consequence.type].length > 0" class="cartes-input" style="width: 200px;">
						<md-select ng-model="consequence.valeur" required aria-label="Type">
							<md-option ng-repeat="valeur in consequences[consequence.categorie][consequence.type] | orderBy:'valeur'">{{valeur}}</md-option>
						</md-select>
						<label>Conséquence - Valeur</label>
					</md-input-container>
					<md-input-container class="cartes-input" style="width: 200px;">
						<md-select ng-model="consequence.joueur" required aria-label="Type">
							<md-option ng-repeat="joueur in joueurs">{{joueur}}</md-option>
						</md-select>
						<label>Conséquence - Joueur</label>
					</md-input-container>
					<div layout="row" flex></div>
					<img ng-if="utilisation.consequences.length > 1" ng-click="removeConsequence($parent.$parent.$index,$parent.$index)" src="modules/core/img/core_icones_remove.png" class="cartes-remove-property">
				</div>
				<div ng-if="utilisation.consequences.length < 3" ng-click="addConsequence($parent.$index)" class="cartes-consequence" style="padding-left: 10px;">
					Ajouter une conséquence
				</div>
			
				<!-- CONTRAINTES -->

				<div ng-repeat="contrainte in utilisation.contraintes"  layout="row" class="cartes-contrainte">
						<md-input-container class="cartes-input" style="width: 300px;">
							<md-select ng-model="contrainte.categorie" required aria-label="Contrainte">
								<md-option ng-repeat="(categorie_nom,categorie) in contraintes | orderBy:'categorie_nom'">{{categorie_nom}}</md-option>
							</md-select>
							<label>Contrainte - Catégorie</label>
						</md-input-container>
						<md-input-container ng-if="contrainte.categorie != undefined" class="cartes-input" style="width: 300px;">
							<md-select ng-model="contrainte.type" required aria-label="Contrainte">
								<md-option ng-repeat="(type_nom,type) in contraintes[contrainte.categorie] | orderBy:'type_nom'">{{type_nom}}</md-option>
							</md-select>
							<label>Contrainte - Type</label>
						</md-input-container>
						<md-input-container ng-if="contrainte.type != undefined && consequences[consequence.categorie][consequence.type].length > 0" class="cartes-input" style="width: 200px;">
							<md-select ng-model="contrainte.valeur" required aria-label="Type">
								<md-option ng-repeat="valeur in contraintes[contrainte.categorie][contrainte.type] | orderBy:'valeur'">{{valeur}}</md-option>
							</md-select>
							<label>Contrainte - Valeur</label>
						</md-input-container>
						<md-input-container class="cartes-input" style="width: 200px;">
							<md-select ng-model="contrainte.joueur" required aria-label="Type">
								<md-option ng-repeat="joueur in joueurs">{{joueur}}</md-option>
							</md-select>
							<label>Contrainte - Joueur</label>
						</md-input-container>
						<div layout="row" flex></div>
						<img ng-click="removeContrainte($parent.$parent.$index,$parent.$index)" src="modules/core/img/core_icones_remove.png" class="cartes-remove-property">
				</div>
				<div ng-if="utilisation.contraintes.length < 3" ng-click="addContrainte($parent.$index)" class="cartes-contrainte" style="padding-left: 10px;">
					Ajouter une contrainte
				</div>

			</div>

		</div>
		
		
		<div ng-if="carte.utilisation.length < maxUtilisations" ng-click="addUtilisation()" class="cartes-utilisation" style="padding-left: 10px;">
			Ajouter une utilisation
		</div>

		<div ng-if="!carteSubmitted">
            <md-button type="submit" ng-if="view == 'nouvelle_carte'" ng-disabled="submitButtonDisabled" class="confrontations-button red-font md-primary md-raised">
                OK !
            </md-button>
            <md-button type="submit" ng-if="view == 'modifier_carte'" ng-disabled="submitButtonDisabled" class="confrontations-button red-font md-primary md-raised">
                Sauver les modifications
            </md-button>
		</div>
		<div ng-if="carteSubmitted" layout="row" layout-align="start center">
			<div class="red-font" style="width: 400px;text-align: center;color: #35bc35;font-weight: bold;">
				Carte créée ! Envoie l'image de la carte à Romain ({{carteImageFileName}})
			</div>
		</div>
	</form>

</div>
