<div ng-show="action.phase >= 0" ng-controller="ActionsDeplacementController">

    <!-- PAYSAGE -->

    <div ng-if="action.deplacement.type === 'paysage'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="column" layout-align="center center" class="red-font" style="font-size: 20px;">
            <span class="confrontations-titre">
                Déplacement
            </span>
            <div ng-show="!action.showBonus">
                <span ng-show="!action.deplacement.info.deResult">
                    Lance le dé
                </span>
                <span ng-show="action.deplacement.info.deResult && !action.deplacement.info.direction">
                    Choisis une direction
                </span>
                <span ng-show="action.deplacement.info.deResult && action.deplacement.info.direction && !action.deplacement.choixZone && !action.deplacement.fini">
                    Choisis ton déplacement
                </span>
                <span ng-show="action.deplacement.info.arrivee != undefined && !action.deplacement.fini">
                    Indique ta zone
                </span>
                <span ng-show="action.deplacement.info.zone != undefined">
                    Déplacement terminé !
                </span>
            </div>
            <span ng-show="action.showBonus">
                Bonus utilisés
            </span>
        </div>

        <!-- Body -->
        <div layout="row" layout-align="space-around center" class="cartouche-body">

            <div style="width: 120px;height:120px;margin-right: 40px;">
                <img src="modules/actions/img/actions-bonus-icone.png" title="Afficher les bonus" ng-click="showBonus()" ng-if="action.deplacement.info.bonus.length > 0" style="width: 100px;height:100px;outline: none">
            </div>

            <div ng-if="action.showBonus" layout="row" layout-align="center start" style="font-size: 16px;min-width: 310px;height: 235px;">
                <div ng-repeat="bonusCarte in action.deplacement.info.bonus">
                    <img ng-src="{{'modules/cartes/img/'+dossierPileTransformation[bonusCarte.pile]+'/cartes_'+bonusCarte.pile+'_'+bonusCarte.code+'.png'}}" ng-click="removeBonus($index)" style="width: 140px;height: 225px;margin: 5px 15px;box-sizing: content-box;">
                </div>
            </div>

            <div ng-if="!action.showBonus" layout="column" layout-align="center start" style="font-size: 16px;height: 235px;">
                <span>
                    Départ : {{action.deplacement.info.depart}}
                </span>
                <div layout="row">
                    <div layout="row" layout-align="center-center" ng-class="!action.deplacement.info.deResult ? 'des-container-box-disabled' : 'des-container-box'">
                        <img src="modules/des/img/des-paysage-icone.png">
                        <span ng-if="action.deplacement.info.deResult">{{action.deplacement.info.deResult}}</span>
                    </div>
                    <div ng-if="action.deplacement.info.direction != undefined" layout="row" layout-align="center-center" class="
                    des-container-box">
                        <img ng-src="{{'modules/plateaux/img/plateau_paysage_direction_'+action.deplacement.info.direction+'.png'}}">
                    </div>
                </div>
                <div ng-if="action.deplacement.info.direction != undefined && !action.deplacement.fini && !action.deplacement.choixZone" layout="column" layout-align="center start" style="height: 105px;">
                    <span>
                    Actions restantes : {{action.deplacement.info.actionsRestantes}}
                    </span>
                    <a ng-click="ajouterActionDeplacement()" style="outline: none;">
                        Ajouter un déplacement qui ne compte pas
                    </a>
                    <a ng-click="recommencerDeplacement()" style="outline: none;">
                        Recommencer le déplacement
                    </a>
                    <a ng-if="action.deplacement.info.direction !== 'libre' || action.deplacement.info.deResult === 73 || action.deplacement.info.deResult === 146" ng-click="terminerDeplacement()" style="outline: none;">
                        Terminer le déplacement
                    </a>
                </div>
                <span style="height: 35px;" ng-if="action.deplacement.info.arrivee != undefined">
                    Arrivée : {{action.deplacement.info.arrivee.numero}}
                </span>
                <div ng-if="action.deplacement.choixZone"  layout="row" layout-align="space-around center">
                    <div ng-repeat="zone in action.deplacement.info.arrivee.case.zoneKey">
                        <img ng-src="{{'modules/plateaux/img/plateaux_zones_'+zone+'.png'}}" ng-click="choixZone(zone)" ng-class="action.deplacement.info.zone === zone ? 'actions-deplacement-zone-selected' : 'actions-deplacement-zone'">
                    </div>
                </div>
            </div>            

            <div style="width: 150px;">
                <md-button ng-click="validerDeplacement()" ng-if="action.deplacement.fini" class="confrontations-button red-font md-primary md-raised" style="height: 20px;text-transform: none;">
                    Déplacement terminé !
                </md-button>
            </div>

        </div>

    </div>
    
    <!-- LABYRINTHE -->

    <div ng-if="action.deplacement.type === 'labyrinthe'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="column" layout-align="center center" class="red-font" style="font-size: 20px;">
            <span class="confrontations-titre">
                Déplacement
            </span>
            <span ng-show="action.deplacement.info.etapes.length < 5 && (action.deplacement.info.etapes[0] == undefined || action.deplacement.info.etapes[0].actionsDisponibles == 0)">
                Lance le dé
            </span>
            <span ng-show="action.deplacement.info.etapes.length < 5 && action.deplacement.info.etapes[0] != undefined && action.deplacement.info.etapes[0].actionsDisponibles == action.deplacement.info.etapes[0].deResult">
                Déplace ton pion ou tourne les couronnes
            </span>
            <span ng-show="action.deplacement.info.etapes.length < 5 && action.deplacement.info.etapes[0].actionsDisponibles < 4 && action.deplacement.info.etapes[0].type === 'couronnes' && action.deplacement.info.etapes[0].actionsDisponibles > 0">
                Tourne les couronnes
            </span>
            <span ng-show="action.deplacement.info.etapes.length < 5 && action.deplacement.info.etapes[0].actionsDisponibles < 4 && action.deplacement.info.etapes[0].type === 'deplacement' && action.deplacement.info.etapes[0].actionsDisponibles > 0">
                Déplace ton pion
            </span>
            <span ng-show="action.deplacement.info.etapes.length === 5">
                Déplacement terminé !
            </span>
        </div>

        <!-- Body -->
        <div layout="column" layout-align="space-around center" class="cartouche-body" style="width: 500px;">

            <div layout="column" layout-align="center start" style="font-size: 16px;">
                <div layout="row">
                    <div layout="row" layout-align="center-center" ng-class="!action.deplacement.info.etapes[action.deplacement.info.etapes.length-1].deResult ? 'des-container-box-disabled' : 'des-container-box'">
                        <img src="modules/des/img/des-labyrinthe-icone.png">
                        <span ng-if="action.deplacement.info.etapes[action.deplacement.info.etapes.length-1].deResult" style="font-size: 18px;margin-top: 6px;">{{action.deplacement.info.etapes[action.deplacement.info.etapes.length-1].deResult}}</span>
                    </div>
                    <div layout="row" layout-align="center-center" ng-class="!action.deplacement.info.etapes[action.deplacement.info.etapes.length-2].deResult ? 'des-container-box-disabled' : 'des-container-box'">
                        <img src="modules/des/img/des-labyrinthe-icone.png">
                        <span ng-if="action.deplacement.info.etapes[action.deplacement.info.etapes.length-2].deResult" style="font-size: 18px;margin-top: 6px;">{{action.deplacement.info.etapes[action.deplacement.info.etapes.length-2].deResult}}</span>
                    </div>
                    <div layout="row" layout-align="center-center" ng-class="!action.deplacement.info.etapes[action.deplacement.info.etapes.length-3].deResult ? 'des-container-box-disabled' : 'des-container-box'">
                        <img src="modules/des/img/des-labyrinthe-icone.png">
                        <span ng-if="action.deplacement.info.etapes[action.deplacement.info.etapes.length-3].deResult" style="font-size: 18px;margin-top: 6px;">{{action.deplacement.info.etapes[action.deplacement.info.etapes.length-3].deResult}}</span>
                    </div>
                    <div layout="row" layout-align="center-center" ng-class="!action.deplacement.info.etapes[action.deplacement.info.etapes.length-4].deResult ? 'des-container-box-disabled' : 'des-container-box'">
                        <img src="modules/des/img/des-labyrinthe-icone.png">
                        <span ng-if="action.deplacement.info.etapes[action.deplacement.info.etapes.length-4].deResult" style="font-size: 18px;margin-top: 6px;">{{action.deplacement.info.etapes[action.deplacement.info.etapes.length-4].deResult}}</span>
                    </div>
                </div>
                <div ng-if="action.deplacement.info.etapes[0].actionsRestantes > 0" layout="column" layout-align="center start" style="height: 105px;">
                    <span>
                    Actions restantes : {{action.deplacement.info.etapes[0].actionsRestantes}}
                    </span>
                </div>
            </div>            

            <div style="width: 150px;">
                <md-button ng-click="validerDeplacement()" ng-if="action.deplacement.info.etapes.length >= 4" class="confrontations-button red-font md-primary md-raised" style="height: 20px;">
                    Déplacement terminé !
                </md-button>
            </div>

        </div>

    </div>

 </div>