<div ng-show="action.phase >= 0" ng-controller="ActionsActionController">

    <!-- *** ACTIONS *** -->

    <div ng-if="actionCase.phase > 0 && actionCase.categorie === 'action'" layout="column" class="partie-cartouche-container">

    	<!-- Titre -->
     	<div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                 Case {{actionCase.numero}}
            </span>
        </div>

        <!-- Body -->
        <div layout="row" class="cartouche-body">

            <!-- Donner passeport -->
    <!--         <div ng-if="actionCase.numero === 'hub' && actionCase.phase === 1" layout="row" flex layout-align="center center" style="outline: none;width: 140px;height: 180px;padding: 5px;">
                <img ng-src="{{'modules/cartes/img/pioche/cartes_pioche_'+carte+'.png'}}" ng-class="carte.completed ? 'jeu-missions-carte-completed' : 'jeu-missions-carte'">
            </div>  -->

            <!-- Description -->
            <div ng-if="actionCaseDisplay.description" layout="column" layout-align="center center" class="confrontations-description">
                <div layout="column">
                    <span>
                        {{actionCase.description}}
                    </span>
                </div>
            </div>

            <!-- Image -->
            <div ng-if="actionCaseDisplay.image" layout="column" layout-align="center center" class="confrontations-description" style="width: 390px;">
                <div layout="column" layout-align="center center">
                    <span>
                        {{actionCase.description}}
                    </span>
                    <img ng-src="{{actionCase.image}}" style="width: 200px;">
                </div>
            </div>

            <!-- Perte de cartes -->
            <div ng-if="actionCaseDisplay.perteCartes" layout="column" layout-align="center center" class="confrontations-description" style="width: 390px;">
                <red-cartes-jeter bouton-name="'Défausser'" quantite="2" description="'Tu perds des cartes'"></red-cartes-jeter>
            </div>

            <!-- Carte -->
            <div ng-if="actionCaseDisplay.utiliserCarte" layout="row" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <span style="width: 500px;">
                        {{actionCase.description}}
                    </span>
                    <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+actionCase.carte+'.png'}}" ng-if="!actionCase.carteUtilisee" style="width: 140px;height: 220px;filter: grayscale(100%);">
                    <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+actionCase.carte+'.png'}}" ng-if="actionCase.carteUtilisee" style="width: 140px;height: 220px;">
                </div>
                <div layout="column" layout-align="center center" class="confrontations-buttons">
                    <md-button ng-click="startActionCase('action',actionCase.numero)" ng-if="actionCase.carteUtilisee" class="confrontations-button red-font md-primary md-raised">
                        OK
                    </md-button>
                    <md-button ng-if="bouton2 != ''" ng-click="cancelAction()" class="confrontations-button red-font md-primary md-raised">
                        Annuler
                    </md-button>
                </div>
            </div>

           <!--  Selection de grandes cartes -->
            <div ng-if="actionCaseDisplay.selectionGrandesCartes" layout="column" layout-align="center center">
                <span style="width: 500px;">
                    {{actionCase.description}}
                </span>
                <div layout="row">
                    <div ng-repeat="carte in actionCase.grandesCartes" layout-align="center center" style="outline: none;width: 140px;height: 220px;margin: 5px;">
                        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" ng-click="selectionGrandesCartes($index)" ng-if="actionCase.grandesCartesNeeded === 0 && carte.completed && !carte.selected" style="width: 140px;height: 220px;" class="jeu-grandes-cartes-completed">
                        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" ng-if="carte.selected" style="width: 140px;height: 220px;" class="jeu-grandes-cartes-completed">
                        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" ng-if="actionCase.grandesCartesNeeded !== 0 && carte.completed" style="width: 140px;height: 220px;" class="jeu-grandes-cartes-completed">
                        <img ng-src="{{'modules/cartes/img/hors-pioche/cartes_hors_pioche_'+carte.code+'.png'}}" ng-if="!carte.completed" style="width: 140px;height: 220px;" class="jeu-grandes-cartes">
                        <div ng-if="carte.selected" style="position: absolute;font-size: 150px;margin-top: -209px;margin-left: 32px;pointer-events: none;color: green;">
                            {{carte.selected}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Valise non-materialisee -->
            <div layout="column" layout-align="space-around start" ng-if="actionCase.valiseNonMaterialisee !== undefined">
                <span style="width: 500px;">
                    {{actionCase.description}}
                </span>
                <div layout="row" ng-repeat="objet in actionCase.valiseNonMaterialisee" style="padding: 5px;text-align: start;">
                    <span ng-if="objet === valiseNonMaterialisee[$index]" style="color: green;width: 250px;font-size: 18px;">
                        {{$index + 1}}. {{objet}}
                    </span>
                    <div ng-if="objet !== valiseNonMaterialisee[$index]" layout="row">
                        <span style="color: red;width: 250px;font-size: 18px;">
                            {{$index + 1}}. {{objet}}
                        </span>
    <!--                     <span style="color: green;font-size: 16px;">
                            {{valiseNonMaterialisee[$index]}}
                        </span> -->
                    </div>
                </div>
                <md-input-container ng-if="valiseNonMaterialiseeIndex < valiseNonMaterialisee.length && (valiseNonMaterialiseeIndex === 0 || actionCase.valiseNonMaterialisee[valiseNonMaterialiseeIndex-1] === valiseNonMaterialisee[valiseNonMaterialiseeIndex-1])" style="width: 400px;font-size: 16px;text-align: start;">
                    <md-select ng-model="actionCase.valiseNonMaterialisee[valiseNonMaterialiseeIndex]" ng-change="ajouteValise(valiseNonMaterialiseeIndex)" required aria-label="Objet">
                        <md-option ng-repeat="objet in objets | orderBy:'nom'" ng-if="actionCase.valiseNonMaterialisee.indexOf(objet.nom) < 0">{{objet.nom}}</md-option>
                    </md-select>
                    <label>Objet</label>
                </md-input-container>
                <div ng-if="actionCase.vnmCorrect">
                    <span style="width: 500px;font-size: 18px;">
                        Tu peux ajouter un objet de ton choix dans la valise :
                    </span>
                    <md-input-container style="width: 400px;font-size: 16px;text-align: start;">
                        <md-select ng-model="actionCase.nouvelObjet" required ng-change="nouvelObjet()" aria-label="Objet">
                            <md-option ng-repeat="objet in objets | orderBy:'nom'" ng-if="actionCase.valiseNonMaterialisee.indexOf(objet.nom) < 0">{{objet.nom}}</md-option>
                        </md-select>
                        <label>Nouvel objet</label>
                    </md-input-container>
                </div>
                <div ng-if="actionCase.vnmCorrect === false" style="width: 100%;">
                    <span>
                        Erreur ! Il fallait prendre : {{valiseNonMaterialisee[valiseNonMaterialiseeIndex-1]}}
                    </span>
                </div>
            </div>

            <!-- Boutons -->
            <div layout="column" layout-align="center center" class="confrontations-buttons" ng-hide="buttonsHidden">
                <md-button ng-click="startActionCase('action',actionCase.numero)" ng-disabled="okButtonDisabled" class="confrontations-button red-font md-primary md-raised">
                    {{bouton1}}
                </md-button>
                <md-button ng-if="bouton2 != ''" ng-click="cancelAction()" class="confrontations-button red-font md-primary md-raised">
                    {{bouton2}}
                </md-button>
            </div>

        </div>

     </div>


    <!-- MONTEE DE MARCHE -->
    <div ng-if="action.action.type === 'montee_de_marche'" layout="column" class="partie-cartouche-container">

        <!-- Titre -->
        <div layout="row" layout-align="center center" class="confrontations-titre red-font">
            <span>
                Montée de marche
            </span>
        </div>

        <!-- Body -->
        
        <div layout="column" layout-align="center center" class="cartouche-body" style="font-size: 20px;">

            <!-- Description -->
            <div layout="column" layout-align="center center">
                <div layout="column">
                    <span ng-if="action.phase === 1">
                        Choisis tes jeux :
                    </span>
                </div>
            </div>

            <div layout="row">

                <div layout="column">
                    <div layout="row" layout-align="start end" style="width: 550px;height: 120px;">
                        <span style="padding-bottom: 10px;font-weight: bold;width: 70px;">
                            Jeu 1
                        </span>
                        <md-input-container ng-if="!action.info.jeux[0].selected" class="cartes-input" style="width: 200px;">
                            <md-select ng-model="action.info.jeux[0].jeu" required aria-label="Jeu 1">
                                <md-option ng-repeat="jeu in action.jeuxDisponibles">{{jeu}}</md-option>
                            </md-select>
                            <label>Jeu 1</label>
                        </md-input-container>

                        <span ng-if="action.info.jeux[0].selected" style="padding: 10px;width: 200px;">
                            {{action.info.jeux[0].jeu}}
                        </span>
                        <md-button ng-click="action.info.jeux[0].selected = true" ng-if="!action.info.jeux[0].selected" class="confrontations-button red-font md-primary md-raised">
                            OK
                        </md-button>
                        <md-input-container ng-if="action.info.jeux[1].selected && !action.info.jeux[0].vainqueurSelected" class="cartes-input" style="width: 200px;">
                            <md-select ng-model="action.info.jeux[0].vainqueur" required aria-label="Jeu 1">
                                <md-option ng-repeat="joueur in joueurs">{{joueur.nom}}</md-option>
                            </md-select>
                            <label>Vainqueur</label>
                        </md-input-container>
                        <md-button ng-click="action.info.jeux[0].vainqueurSelected = true" ng-if="action.info.jeux[1].selected && !action.info.jeux[0].vainqueurSelected" class="confrontations-button red-font md-primary md-raised">
                            OK
                        </md-button>
                        <span ng-if="action.info.jeux[0].vainqueurSelected" style="padding: 10px;width: 200px;">
                            {{action.info.jeux[0].vainqueur}}
                        </span>
                    </div>
                    <div layout="row" layout-align="start end" style="width: 550px;height: 120px;">
                        <span style="padding-bottom: 10px;font-weight: bold;width: 70px;">
                            Jeu 2
                        </span>
                        <md-input-container ng-if="!action.info.jeux[1].selected" class="cartes-input" style="width: 200px;">
                            <md-select ng-model="action.info.jeux[1].jeu" required aria-label="Jeu 1">
                                <md-option ng-repeat="jeu in action.jeuxDisponibles">{{jeu}}</md-option>
                            </md-select>
                            <label>Jeu 1</label>
                        </md-input-container>

                        <span ng-if="action.info.jeux[1].selected" style="padding: 10px;width: 200px;">
                            {{action.info.jeux[1].jeu}}
                        </span>
                        <md-button ng-click="action.info.jeux[1].selected = true" ng-if="action.info.jeux[0].selected && !action.info.jeux[1].selected" class="confrontations-button red-font md-primary md-raised">
                            OK
                        </md-button>
                        <md-input-container ng-if="action.info.jeux[0].vainqueurSelected && !action.info.jeux[1].vainqueurSelected" class="cartes-input" style="width: 200px;">
                            <md-select ng-model="action.info.jeux[1].vainqueur" required aria-label="Jeu 1">
                                <md-option ng-repeat="joueur in joueurs">{{joueur.nom}}</md-option>
                            </md-select>
                            <label>Vainqueur</label>
                        </md-input-container>
                        <md-button ng-click="action.info.jeux[1].vainqueurSelected = true" ng-if="action.info.jeux[0].vainqueurSelected && !action.info.jeux[1].vainqueurSelected" class="confrontations-button red-font md-primary md-raised">
                            OK
                        </md-button>
                        <span ng-if="action.info.jeux[1].vainqueurSelected" style="padding: 10px;width: 200px;">
                            {{action.info.jeux[1].vainqueur}}
                        </span>
                    </div>
                </div>

                <!-- Boutons -->
                <div layout="column" layout-align="center center" class="confrontations-buttons" >
                    <md-button ng-if="action.info.jeux[1].vainqueurSelected || action.info.jeux[0].vainqueurSelected === joueurs[joueurId].nom" ng-click="finirMonteeDeMarche()" class="confrontations-button red-font md-primary md-raised">
                        OK
                    </md-button>
                </div>

            </div>

        </div>
    </div>
</div>