<md-dialog style="max-width: 600px;">
    <form ng-submit="popupConfirm()" name="newPassword">
        <md-dialog-content style="order: 0;
        padding-top: 30px;
        font-size: 16px;
        padding-right: 70px;
        padding-left: 70px;">
        	<span>
        		Choisis ton mot de passe :
        	</span>
            <md-input-container class="cartes-input" style="width: 250px;">
                <input ng-model="authentication.password" type="password" required aria-label="mot de passe" minlength="6">
                <label>Mot de passe</label>
            </md-input-container>
            <md-input-container class="cartes-input" style="width: 250px;">
                <input ng-model="authentication.passwordConfirmation" type="password" required aria-label="mot de passe"  minlength="6">
                <label>Confirme le mot de passe</label>
            </md-input-container>
            <div style="height: 50px;width: 320px;">
                <span ng-if="displayMismatchMessage" style="color: red;">Les deux mots de passes doivent être identiques.
                </span>
            </div>
        </md-dialog-content>
    	<md-dialog-actions  layout="row" style="padding:20px 50px;">
            <div>
                <md-button type="button" ng-click="popupCancel()" class="md-primary md-raised confrontations-button">
                    Annuler
                </md-button>
            </div>
    		<div flex>
    		</div>
    		<div>
    			<md-button type="submit" class="md-primary md-raised confrontations-button">
    				OK
    			</md-button>
    		</div>
    	</md-dialog-actions>
    </form>
</md-dialog>