.plateaux-action-case-icone,
.plateaux-action-case-icone-disabled {
	width: 120px;
	height: 120px;
	margin: 30px;
}

.plateaux-action-case-icone:hover {
	opacity: 0.5;
}

.plateaux-action-case-icone-disabled {
	opacity: 0.5;
	filter: grayscale(80%);
}