/*Attaques divs*/

.confrontations-attaques-image,
.confrontations-attaques-image img,
.confrontations-attaques-buttons {
	width: 140px;
	height: 225px;
}

.confrontations-attaques-contenu {
	width: 240px;
	height: 225px;
}